<h1>ログイン</h1>

<% if flash[:error].present? %>
  <p style='color: red;'><%= flash[:error] -%></p>
<% end %>


<%= form_for :session, url: sessions_path do |f| %>
  <ul>
    <li>
      email:
      <%= f.email_field :email %>
    </li>
    <li>
      password:
      <%= f.password_field :password %>
    </li>
  </ul>
  <%= f.submit 'ログイン' %>
<% end %>
