<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'todoapp' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <%= content_for?(:title) ? yield(:title) : '' %>
    </header>

    <% if flash.notice.present? %>
      <p><%= flash.notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
