<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t(:site_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light'>
    <nav class='navbar navbar-dark bg-dark'>
      <%= link_to 'Task Manager', root_path, class: 'navbar-brand'%>
    </nav>
    <% flash.each do |key, value| %>
      <% color = key=='notice' ? 'success' : 'danger'%>
      <%= content_tag(:div, value, class: "#{key} alert alert-#{color}") %>
    <% end %>
    <div class='container bg-white'>
      <%= yield %>
    </div>
  </body>
</html>
