<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t(:site_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% if key == 'notice'%>
        <%= value %>
      <% elsif key == 'alert'%>
        <ul>
        <% value.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
