<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t(:site_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light'>
    <nav class='navbar navbar-header navbar-expand-lg navbar-dark bg-dark'>
      <%= link_to 'Task Manager', root_path, class: 'navbar-brand'%>
        <% if logged_in? %>
          <ul class="navbar-nav navbar-right" >
            <li class="nav-item dropdown">
              <button type='button' class='btn btn-dark dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown">
                <%= current_user.user_name %>
              </button>
              <div class='dropdown-menu dropdown-menu-right' aria-labelledby="navbarDropdownMenuLink">
                <% if current_user.admin? %>
                  <%= link_to I18n.t('view.nav.admin'), admin_users_path, class: 'dropdown-item'%>
                <% end %>
                <%= link_to I18n.t('view.nav.log_out'), logout_path, method: 'delete', class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
        <% end %>
    </nav>
    <% flash.each do |key, value| %>
      <% color = key=='notice' ? 'success' : 'danger'%>
      <%= content_tag(:div, value, class: "#{key} alert alert-#{color}") %>
    <% end %>
    <div class='container bg-white'>
      <%= yield %>
    </div>
  </body>
</html>
