<div class="center jumbotron">
  <h1>User List</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th class="sorting_asc:after"><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <th><%= t('header.task_count') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <th class="name"><%= user.name %></th>
      <td class="email"><%= user.email %></td>
      <td><span class="badge"><%= user.tasks.to_a.count %></span></td>
      <td><%= link_to admin_user_path(user.id), id: 'user_show' do %><span class="glyphicon glyphicon-user"></span><% end %></td>
      <td><%= link_to edit_admin_user_path(user.id), id: 'user_edit' do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
      <td><%= link_to admin_user_path(user.id), id: 'user_delete', method: 'delete', data: { confirm: t('message.confirm') } do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
