<%= form_with model: @task do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %><%= t "message.error.occurred" %><%= t "message.error.check" %>
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% # TODO: ログイン機能追加後、user_idを動的に当てるように修正 %>
  <%= f.hidden_field :user_id, :value => 1 %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.select :status, Task.statuses.keys, {prompt: t("alert.task.select")}%>
  </div>
  <div>
    <%= f.label :priority %><br>
    <%= f.select :priority, Task.priorities.keys, {prompt: t("alert.task.select")}%>
  </div>
  <div>
    <%= f.label :duedate %><br>
    <%= f.datetime_select :duedate %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>