<%= render "layouts/flash_messages" %>
<div class="container-fluid">
  <h4><%= t("activerecord.tasks.index.title") %></h4>
  <hr>
  <%= render "layouts/tasks_search_form" %>
  <div id="tasks-index-table-div">
    <table class="table table-border table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t("label.task.id") %></th>
        <th scope="col"><%= t("label.task.name") %></th>
        <th scope="col"><%= t("label.task.status") %></th>
        <th scope="col"><%= t("label.task.priority") %></th>
        <th scope="col"><%= t("label.task.duedate") %></th>
        <th scope="col"><%= t('label.task.created_at') %></th>
        <th scope="col" colspan="2"><%= t("label.task.config") %></th>
      </tr>
      </thead>
      <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td scope="row" rowspan="2"><%= task.id %></td>
          <td><%= link_to task.name, task_path(task) %></td>
          <td><%= t("activerecord.enum.task.status.#{task.status}") %></td>
          <td><%= t("activerecord.enum.task.priority.#{task.priority}") %></td>
          <td><%= l(task.duedate, format: :short, default: "") %></td>
          <td><%= l(task.created_at, format: :short, default: "") %></td>
          <td><%= link_to t("button.edit"), edit_task_path(task) %></td>
          <td><%= link_to t("button.delete"), task_path(task), method: :delete, data: { confirm: t("alert.task.delete") } %></td>
        </tr>
        <tr>
          <td scope="row" colspan="7">
            <% task.labels.each do |label| %>
              <span class="badge badge-pill badge-<%= label.color %>"><%= label.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div id="pagination-wrap">
    <%= paginate @tasks %>
  </div>
  <div class="float-right" id="create-btn-div">
    <%= link_to t("button.create"), new_task_path, class: 'btn btn-success' %>
  </div>
</div>