<%= render "notice" %>
<h1><%= t("activerecord.tasks.index.title") %></h1>
<%= link_to t("button.create"), new_task_path %>
<table>
  <thead>
    <th><%= t("label.task.id") %></th>
    <th><%= t("label.task.name") %></th>
    <th><%= t("label.task.status") %></th>
    <th><%= t("label.task.priority") %></th>
    <th><%= t("label.task.duedate") %></th>
    <th><%= t('label.task.created_at') %>
    <% if @created_at_sort == 'desc' %>
      <a id="created_at_sort_asc" href="<%= tasks_path(created_at_sort: 'asc') %>">▼</a>
    <% else %>
      <a id="created_at_sort_desc" href="<%= tasks_path(created_at_sort: 'desc') %>">▲</a>
    <% end %>
    </th>
    <th><%= t('label.task.updated_at') %></th>
    <th colspan="3"><%= t("label.task.config") %></th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= t("activerecord.enum.task.status.#{task.status}") %></td>
      <td><%= t("activerecord.enum.task.priority.#{task.priority}") %></td>
      <td><%= l(task.duedate, format: :short, default: "") %></td>
      <td><%= l(task.created_at, format: :short, default: "") %></td>
      <td><%= l(task.updated_at, format: :short, default: "") %></td>
      <td><%= link_to t("button.show"), task_path(task) %></td>
      <td><%= link_to t("button.edit"), edit_task_path(task) %></td>
      <td><%= link_to t("button.delete"), task_path(task), method: :delete, data: { confirm: t("alert.task.delete") } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
