<%= render "layouts/notice" %>
<h1><%= t("activerecord.tasks.index.title") %></h1>
<fieldset>
  <legend><%= t('button.search') %></legend>
  <%= form_tag(tasks_path, method: :get, id: 'search_form') do %>
    <%= label_tag(:name, t('label.task.name')) %>:
    <%= text_field_tag(:name, params[:name]) %>
    <%= label_tag(:status, t('label.task.status')) %>:
    <%= select_tag(:status, options_for_select(Task.statuses.map{ |k,v| [t("activerecord.attributes.task.status.#{k}"), k] }, params[:status]), include_blank: t('activerecord.enum.task.status.all')) %>
    <%= label_tag(:sort_by, t('label.sort.by')) %>:
    <%= select_tag(:target, options_for_select(Task.sort_bies.map{ |k,v| [t("label.task.#{k}"), k] }, params[:target])) %>
    <%= label_tag(:order, t('label.sort.order')) %>:
    <%= select_tag(:order, options_for_select(Task.orders.map{ |k,v| [t("label.sort.#{k}"), k] }, params[:order])) %>
    <%= submit_tag(t('button.search'), name: nil) %>
  <% end %>
</fieldset>
<%= link_to t("button.create"), new_task_path %><br>
<%= @tasks.total_count %>&nbsp;<%= t('label.items') %>
<table>
  <thead>
    <th><%= t("label.task.id") %></th>
    <th><%= t("label.task.name") %></th>
    <th><%= t("label.task.status") %></th>
    <th><%= t("label.task.priority") %></th>
    <th><%= t("label.task.duedate") %></th>
    <th><%= t('label.task.created_at') %></th>
    <th><%= t('label.task.updated_at') %></th>
    <th colspan="3"><%= t("label.task.config") %></th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= t("activerecord.enum.task.status.#{task.status}") %></td>
      <td><%= t("activerecord.enum.task.priority.#{task.priority}") %></td>
      <td><%= l(task.duedate, format: :short, default: "") %></td>
      <td><%= l(task.created_at, format: :short, default: "") %></td>
      <td><%= l(task.updated_at, format: :short, default: "") %></td>
      <td><%= link_to t("button.show"), task_path(task) %></td>
      <td><%= link_to t("button.edit"), edit_task_path(task) %></td>
      <td><%= link_to t("button.delete"), task_path(task), method: :delete, data: { confirm: t("alert.task.delete") } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @tasks %>

