<%= render "layouts/notice" %>
<div class="container">
  <h4><%= t("activerecord.tasks.show.title") %></h4>
  <br>
  <div class="form-group">
    <label class="label"><%= t("label.task.name") %><%= t("label.colon") %></label><br>
    <input type="text" class="form-control-plaintext" readonly="readonly" value="<%= @task.name %>"></input>
  </div>
    <label><%= t("label.task.description") %><%= t("label.colon") %></label><br>
  <div class="form-group" id="description-div">
    <p><%= @task.description %></p>
  </div>
  <div class="form-group">
    <label><%= t("label.task.status") %><%= t("label.colon")%></label>
    <input type="text" class="form-control-plaintext" readonly="readonly" value="<%= t("activerecord.enum.task.status.#{@task.status}") %>"></input>
  </div>
  <div class="form-group">
    <label><%= t("label.task.priority") %><%= t("label.colon") %></label>
    <input type="text" class="form-control-plaintext" readonly="readonly" value="<%= t("activerecord.enum.task.priority.#{@task.priority}") %>"></input>
  </div>
  <div class="form-group">
    <label><%= t("label.task.duedate") %><%= t("label.colon") %></label>
    <input type="text" class="form-control-plaintext" readonly="readonly" value="<%= l(@task.duedate, format: :long, default: "") %>"></input>
  </div>
  <br>
  <div class="d-flex justify-content-end">
    <%= link_to t("button.back"), root_path %>
  </div>
</div>
