<%= render 'error_messages', model: task %>

<div class="card col-md-6">
  <div class="card-body">
    <%= form_with model: user, url: admin_users_path do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :login_id %>
        <%= f.text_field :login_id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, value: t('activerecord.attributes.user.password') + ' ' + t('operation.change_password') %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, value: t('activerecord.attributes.user.password_confirmation') + ' ' + t('operation.change_password') %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :role %>
        <%= f.select :role, User.roles.keys.to_a, {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
