<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Task App', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to new_task_path do %><%= t('operation.create') %> <span class="glyphicon glyphicon-plus"></span><% end %></li>
          <li><%= link_to 'Home', root_path %></li>
          <% if is_admin_show? %>
            <li><%= link_to 'Admin', admin_users_path %>
          <% end %>
          <li><%= link_to 'Logout', login_path, method: :delete, id: 'logout' %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path  %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
