<div class="bd-example-loging">
  <nav class="navbar navbar-light" id='navbar'>
    <div class="left-function">
      <div class="search-form">
        <input class="form-control input-search-form">
        <i class="fas fa-search" id="fa-search"></i>
      </div>
    </div>
    <div class="brand-name">
      <i class="fas fa-route fa-lg"></i>
      <a href="/<%= I18n.locale %>/projects">
        TreasureMap
      </a>
    </div>
    <div class="right-menu">
      <div class="user-name">
        <%= render 'layouts/dropdown_show_user_info' %>
      </div>
      <div class="localize">
        <% if I18n.locale == :ja %>
          <%= link_to url_for(locale: :en) do %>
            English
          <% end %>
        <% else %>
          <%= link_to url_for(locale: :ja) do %>
            日本語
          <% end %>
        <% end %>
      <div>
    </div>
  </nav>
</div>
<div class="notifications">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash-notification" %>
  <% end %>
</div>
