<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'teasure-map-icon.png'%>
    <title class="treasure-map-title">
      <% if @project.present? %>
        <%= @project.name %> | TreasureMap
      <% else %>
        Projects | TreasureMap
      <% end %>
      TMS
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body data-locale="<%= I18n.locale %>">
    <% if @show_task_id.present? %>
      <div class="trigger-btn-update-task">
        <input class="trigger-btn-update-task-input" value="<%= @show_task_id %>"></input>
      </div>
    <% end %>
    <%= render 'layouts/search_result' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
