<% if task.errors.any? %>
  <ul id="error_explanation" class="alert alert-danger">
    <% task.errors.full_messages.each do |message| %>
      <li class="ml-2"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: task, local: true do |f| %>
  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
      <%= f.label :name %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
      <%= f.label :description %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
      <%= f.label :due_date %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.text_field :due_date, class: 'date-picker form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
      <%= f.label :priority %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.select :priority, Task.priorities.map { |key, _| [I18n.t("enums.task.priority.#{key}"), key] }%>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
      <%= f.label :status %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.select :status, Task.statuses.map { |key, _| [I18n.t("enums.task.status.#{key}"), key] } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2">
      <%= f.label Label.model_name.human %>
    </div>
    <div class="col-6 col-sm-8 col-md-10 col-lg-10 col-xl-10">
      <%= f.collection_check_boxes :label_ids, current_user.labels, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox mr-2") { cb.check_box(class: "checkbox") + cb.text } %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.submit I18n.t('words.submit'), class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>
