<h1><%= I18n.t('actions_with_model.index', model_name: Task.model_name.human) %></h1>

<%= form_with url: root_path, method: 'get', local: true do |form| %>
  <%= form.text_field :name, placeholder: 'タスク名を入力', value: params[:name] %>
  <%= form.select :status, Task.statuses.map { |key, value| [I18n.t("enums.task.status.#{key}"), key] }, selected: params[:status], include_blank: '指定しない' %>
  <%= form.submit '検索' %>
<% end %>
<br>

<%= link_to I18n.t('actions_with_model.new', model_name: Task.model_name.human), new_task_path %>
<table class="task-list" border="1" cellpadding="3">
  <tr>
    <th><%= Task.human_attribute_name(:id) %></th>
    <th><%= Task.human_attribute_name(:name) %></th>
    <th><%= Task.human_attribute_name(:description) %></th>
    <th><%= Task.human_attribute_name(:status) %></th>
    <th><%= Task.human_attribute_name(:priority) %><%= sort_link(:priority) %></th>
    <th><%= Task.human_attribute_name(:due_date) %><%= sort_link(:due_date) %></th>
    <th><%= Task.human_attribute_name(:created_at) %><%= sort_link(:created_at) %></th>
    <th>アクション</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= simple_format(task.description) %></td>
      <td><%= I18n.t("enums.task.status.#{task.status}") %></td>
      <td><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
      <td><%= I18n.l(task.due_date, format: :short) %></td>
      <td><%= I18n.l(task.created_at, format: :long) %></td>
      <td>
        <%= link_to I18n.t('actions.edit'), edit_task_path(task) %>
        <%= link_to I18n.t('actions.destroy'), task_path(task), method: :delete,
            data: { confirm: I18n.t(:dialog, target: "#{Task.model_name.human}「#{task.name}」", action: I18n.t('actions.destroy')) } %>
      </td>
    </tr>
  <% end %>
</table>
