<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to 'jTodo', tasks_path %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
      <% if logged_in? %>
        <li>Hello, <%= current_user.name %>!</li>
        <li><%= link_to 'Admin', '#' %></li>
        <li><%= link_to 'Log out', logout_path %></li>
      <% else %>
        <li><%= link_to 'Log in', login_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
