<% content_for(:title) { t('.title') } %>

<table class="table text-center table-hover table-striped table-sm mb-3">
  <thead class="thead-light">
  <tr>
    <th><%= User.human_attribute_name(:id) %></th>
    <th><%= User.human_attribute_name(:name) %></th>
    <th><%= User.human_attribute_name(:role) %></th>
    <th><%= User.human_attribute_name(:created_at) %></th>
    <th><%= User.human_attribute_name(:updated_at) %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @search_tasks.each do |user| %>
    <tr>
      <td><%= link_to user.id, admin_user_path(user.id) %></td>
      <td><%= user.name %></td>
      <td><%= user.role_i18n %></td>
      <td><%= l(user.created_at) %></td>
      <td><%= l(user.updated_at) %></td>
      <td><%= link_to t('common.edit'), edit_admin_user_path(user), class: 'btn btn-primary' %></td>
      <td>
        <%= button_to t('common.delete'), admin_user_path(user), class: 'btn btn-primary',
                      method: :delete, data: { confirm: t('notification.confirm_destroy', value: user.name) } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @search_tasks %>
