<h3>ログイン</h3>

<%= form_with scope: :session, local: true do |f| %>
  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <%= f.label :email, User.human_attribute_name(:email) %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <%= f.label :password, User.human_attribute_name(:password) %>
    </div>
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.submit '送信', class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>
