<div class="center jumbotron">
  <h1>All tasks</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Created Date</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <th><%= task.id %></th>
      <th><%= task.title %></th>
      <td>
        <span class="label label-primary">
          <%= task.priority %>
        </span>
      </td>
      <td><span class="label label-success"><%= task.status %></span></td>
      <td><%= task.due_date %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to 'Detail', task_path(task.id) %></td>
      <td><%= link_to 'Edit', task_edit_path(task.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
