<h1><%= t('.title') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |form| %>

      <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>
      </div>

      <div class="actions">
      <%= form.submit t('users.action.login'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    
    <p><%= t('users.message.newuser') %><%= link_to t('users.message.signupnow'), signup_path %></p>
  </div>
</div>
