<h1>All Tasks</h1>

<%= tag.p { flash[:success] if flash[:success]} %>

<div>
  <%= form_tag(tasks_path, method: 'get') do %>
    <%= label_tag(:title, "Search for") %>
    <%= text_field_tag(:title, params[:title]) %>
    <%= label_tag(:status, "Status:") %>
    <%= select_tag(:status, options_for_select(status_text.invert, selected: params[:status]), include_blank: true) %>
    <%= submit_tag(t("button.search"), name: nil) %>
  <% end %>
</div>

<%= link_to 'Create New Task', tasks_new_path %>

<div>
  Sort by
  <%= link_to t('activerecord.attributes.task.due_date'), sort: 'due_date' %> /
  <%= link_to t('activerecord.attributes.task.created_at'), sort: 'created_at' %>
</div>

<% if @tasks.any? %>
  <%= paginate @tasks %>
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, tasks_show_path(task) %>
    </li>
    <% end %>
  </ul>
  <%= paginate @tasks %>
<% end %>
