<h1><%= @task.title %></h1>

<dl>
  <dt>説明</dt>
  <dd><%= @task.description %></dd>
  <dt>ステータス</dt>
  <dd><%= status_text[@task.status] %></dd>
</dl>

<%= link_to 'Back', tasks_path %>
<%= link_to 'Edit', tasks_edit_path(@task) %>
<%= link_to 'Delete', tasks_destroy_path(@task), method: :delete %>
