<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= @task.title %></h1>
    <p class="card-text"><%= @task.description %></p>
    <p class="card-text"><%= t('activerecord.attributes.task.status') + " : " %><%= status_text[@task.status] %></p>
    <p class="card-text"><%= t('activerecord.attributes.task.due_date') + " : " %><%= @task.due_date %></p>
    <%= link_to t('link.back'), tasks_path , class: 'card-link' %>
    <%= link_to t('link.edit'), tasks_edit_path(@task), class: 'card-link' %>
    <%= link_to t('link.delete'), tasks_destroy_path(@task), method: :delete, class: 'card-link' %>
  </div>
</div>
