<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">TaskManager<%= sub_title_tag %></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample">
          <div class="nav navbar-nav">
            <% if controller.controller_name == 'list' %>
              <%= link_list %>
              <%= link_new %>
              <%= link_edit %>
            <% elsif controller.controller_name == 'users' %>
              <%= link_users_list %>
              <%= link_new_user %>
              <%= link_edit_user %>
            <% end %>
          </div>
          <div class="nav navbar-nav navbar-right">
            <%= link_logout %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
