<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">TaskManager</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample">
          <end class="nav navbar-nav">
            <%= link_list %>
            <%= link_new %>
            <%= link_edit %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
