<%= stylesheet_link_tag 'admin/users' %>

<h1><%= t('headline.user.show') %></h1>

<div class="nav justify-content-end">
  <%= link_to t('link.all'), admin_users_path, class: 'nav-link' %>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:is_admin) %></th>
      <td><%= @user.is_admin ? '○' : '×' %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <td><%= l @user.created_at %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:updated_at) %></th>
      <td><%= l @user.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('crud.update'), edit_admin_user_path(@user), class: 'btn btn-primary mr-3' %>
<%= link_to t('crud.delete'), admin_user_path(@user), method: :delete, data: { confirm: t('alert.confirm', target: @user.name) }, class: 'btn btn-danger' %>
