<%= stylesheet_link_tag 'admin/users' %>

<h1><%= t('headline.user.tasks', name: @user.name) %></h1>

<div class="nav justify-content-end">
  <%= link_to t('link.all'), admin_users_path, class: 'nav-link' %>
</div>

<div class="mb-3">
  <%= paginate @tasks %>
  <%= page_entries_info @tasks %>
</div>

<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:priority) %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th><%= Task.human_attribute_name(:deadline) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.human_attribute_enum(:priority) %></td>
        <td><%= task.human_attribute_enum(:status) %></td>
        <td><%= task.format_deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>
