<h1>Tasks</h1>

<table class="table table-striped">
  <div class="form-group">
    <%= form_with url: tasks_path, method: :get, local: true do |f| %>
      <%= f.text_field :title, value: params[:title] %>
      <%= f.select :status, options_for_select(Task.statuses, params[:status]), include_blank: true, class: 'form-control' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <thead>
    <tr>
      <td>タイトル</td>
      <td>詳細</td>
      <td>ステータス</td>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.detail %></td>
        <td><%= task.status %></td>
        <td>
          <div class="pull-right">
            <td>
              <%= link_to 'Show', task, class: "btn btn-primary" %>
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
              <%= link_to 'Destroy', task, class: "btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </td>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
