<p id="notice"><%= notice %></p>
<h1>Task Detail</h1>

<div class="">
  <%= @task.title %>
  <%= @task.detail %>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
