<h1><%= t('.title', task_id: @task.id) %></h1>
<%= form_with(model: @task, local: true) do |form| %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.map { |k,v| [t(".priority.#{k}"),k] }, {prompt: 'please select priority'} %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.map { |k,v| [t(".status.#{k}"),k] }, {prompt: 'pelase select status'} %>
  </div>
  <div class="field">
    <%= form.label :due %>
    <%= form.text_field :due %>
  </div>
  <div>
    <%= form.submit t('action.update'), class:"btn btn-primary" %>
    <%= link_to t('action.remove'), task_path(@task), class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
    <%= link_to t('action.back'), root_path, class:"btn btn-primary" %>
  </div>
<% end %>
