<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<% if notice  %>
  <p><%= notice %></p>
<% end %>
<table>
  <tr>
    <th>概要</th>
    <th>説明</th>
    <th>優先度</th>
    <th>ステータス</th>
    <th>期限</th>
    <th></th>
  <tr>
<% @tasks.each do |task| %>
  <tr>
    <th><%= task.summary %></th>
    <th><%= task.description %></th>
    <th><%= task.priority %></th>
    <th><%= task.status %></th>
    <th><%= task.due %></th>
    <th><%= link_to '詳細', task_path(task.id) %></th>
  <tr>
<% end %>

<%= link_to '起票', new_task_path %>
</table>
