<h1><%= t('.title') %></h1>
<div class="center jumbotron">
  <%= form_with(scope: :search, url: tasks_path,  method: :get, local: true) do |form|%>
    <div class="input-group" style="margin: 10px;">
      <div style="width:250px; height:auto;margin-left:10px;float:left;">
        <%= form.label(:summary, Task.human_attribute_name(:summary)) %>
        <%= form.text_field :summary, value: @search_params[:summary] %>
      </div>
      <div style="width:250px; height:auto;margin-left:10px;float:left;">
        <%= form.label(:status, Task.human_attribute_name(:status)) %>
        <%= form.select :status, Task.statuses.map { |k,v| [t("tasks.edit.status.#{k}"),k] }, {include_blank: '', selected: @search_params[:status] } %>
      </div>
      <div style="width:250px; height:auto;margin-right:10px;float:right;">
        <%= submit_tag t('action.search.task'), name: nil, class: 'btn btn-default' %>
      </div>
    </div>

    <div class="input-group" style="margin: 10px;">
      <%= text_field_tag 'search[label]', @search_params[:label], class: 'form-control', placeholder: t('placeholder.search', item: 'ラベル') %>
      <span class="input-group-btn">
        <%= submit_tag t('action.search.label'), name: nil, class: 'btn btn-default' %>
      </span>
    </div>
  <% end %>
</div>

<%= paginate @tasks %>
<table class="table">
  <thead>
  <tr>
    <th><%= Task.human_attribute_name(:id) %></th>
    <th><%= Task.human_attribute_name(:summary) %></th>
    <th><%= Task.human_attribute_name(:user_name) %></th>
    <th>
      <%= Task.human_attribute_name(:priority) %>
      <%= link_to ({position: 'priority', order: 'asc', search: @search_params}), id: 'priority_asc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" style="transform:rotate(180deg)"></span>
      <% end %>
      <%= link_to ({position: 'priority', order: 'desc', search: @search_params}), id: 'priority_desc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
      <% end %>
    </th>
    <th>
      <%= Task.human_attribute_name(:status) %>
      <%= link_to ({position: 'status', order: 'desc', search: @search_params}), id: 'status_desc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" style="transform:rotate(180deg)"></span>
      <% end %>
      <%= link_to ({position: 'status', order: 'asc', search: @search_params}), id: 'status_asc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
      <% end %>
    </th>
    <th>
      <%= Task.human_attribute_name(:due) %>
      <%= link_to ({position: 'due', order: 'desc', search: @search_params}), id: 'due_desc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" style="transform:rotate(180deg)"></span>
      <% end %>
      <%= link_to ({position: 'due', order: 'asc', search: @search_params}), id: 'due_asc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
      <% end %>
    </th>
    <th>
      <%= Task.human_attribute_name(:created_at) %>
      <%= link_to ({position: 'created_at', order: 'desc', search: @search_params}), id: 'created_desc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" style="transform:rotate(180deg)"></span>
      <% end %>
      <%= link_to ({position: 'created_at', order: 'asc', search: @search_params}), id: 'created_asc' do %>
        <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
      <% end %>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @tasks.each do |task| %>
  <tr>
    <td class="id"><%= task.id %></td>
    <td class="summary"><%= task.summary %></td>
    <td class="user_name"><%= task.user_id ? task.user.view_name : nil %>
    <td class="priority"><%= t(".priority.#{task.priority}") %></td>
    <td class="status"><%= t(".status.#{task.status}") %></td>
    <td class="due"><%= l(task.due, format: :default) %></td>
    <td class="created_at"><%= l(task.created_at, format: :default) %></td>
    <td>
      <%= link_to t('action.detail'), task_path(task.id), class:"btn btn-primary" %>
      <%= link_to t('action.update'), edit_task_path(task), class:"btn btn-primary" %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<%= link_to t('action.create'), new_task_path, class:"btn btn-primary" %>
