<h1><%= t('.title')  %></h1>

<%= form_with(model: @task, local: true) do |form| %>
  <%= render 'form', { form: form } %>
  <div>
    <%= form.submit t('action.create'), class:"btn btn-primary" %>
    <%= link_to t('action.back'), root_path, class:"btn btn-primary" %>
  </div>
<% end %>
