<h1>New Task</h1>

<%= form_with(model: @task, local: true) do |form| %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, {prompt: 'pelase select priority'} %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a, {prompt: 'pelase select status'} %>
  </div>
  <div class="field">
    <%= form.label :due %>
    <%= form.text_field :due %>
  </div>
  <div>
    <%= form.submit class:"btn btn-primary" %>
    <%= link_to 'Back', root_path, class:"btn btn-primary" %>
  </div>
<% end %>
