<h1><%= t('.title', task_id: @task.id) %></h1>

<div>
  <table>
    <tr>
      <td><%= Task.human_attribute_name(:summary) %></td>
      <td><%= @task.summary %></td>
    </tr>
    <tr>
      <td><%= Task.human_attribute_name(:description) %></td>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <td><%= Task.human_attribute_name(:user_name) %></td>
      <td><%= @task.user.view_name %></td>
    </tr>
    <tr>
      <td><%= Task.human_attribute_name(:priority) %></td>
      <td><%= t(".priority.#{@task.priority}") %></td>
    </tr>
    <tr>
      <td><%= Task.human_attribute_name(:status) %></td>
      <td><%= t(".status.#{@task.status}") %></td>
    </tr>
    <tr>
      <td><%= Task.human_attribute_name(:due) %></td>
      <td><%= l(@task.due, format: :default)%></td>
    </tr>
  </table>
  <table class="table">
    <thead><tr><th><%= 'ラベル' %></th></tr></thead>
    <tbody><tr><td>
      <% @labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td><tr></tbody>
  </table>
</div>

<div>
  <%= link_to t('action.update'), edit_task_path(@task), class:"btn btn-primary" %>
  <%= link_to t('action.remove'), task_path(@task), class:"btn btn-primary", method: :delete, data: { confirm: t('flash.remove.confirm') } %> 
  <%= link_to t('action.back'), root_path, class:"btn btn-primary" %>
</div>
