<div class="container">
  <div class="panel">
    <div class="panel-body">
      <% flash.each do |alert_type, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{alert_type}") %>
      <% end %>
      <%= form_tag(list_index_path, :method => 'get' ) do %>
        <div class="form-group form-inline">
          <%= label_tag t "attributes.task.task_name" %>
          <%= text_field_tag :task_name, value = params[:task_name], :class => "form-control input-sm" %>

          <%= label_tag t "attributes.task.status" %>
          <%= select_tag :status, options_for_select(Task.statuses.keys.map { |k| [t("enum.task.status.#{k}"), k] }, :selected => params[:status] ), :include_blank => true %>

          <%= label_tag t "attributes.task.label.other" %>
          <%= collection_select(nil, :label_ids, @label.all, :id, :label_name, { :selected => params[:label_ids]} , { multiple: true, class: "select2-select" }) %>
          <%= submit_tag t("actions.search"), :status => nil, :class => "btn btn-default" %>
        </div>
      <% end %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="th_task_name"><%= I18n.t "attributes.task.task_name" %></th>
            <th class="th_task"><%= I18n.t "attributes.task.description" %></th>
            <th class="th_label"><%= I18n.t "attributes.task.label.other" %></th>
            <th class="th_deadline"><%= sortable(column: "deadline", title: I18n.t("attributes.task.deadline")) %></th>
            <th class="th_priority"><%= I18n.t "attributes.task.priority" %></th>
            <th class="th_status"><%= I18n.t "attributes.task.status" %></th>
            <th class="th_edit"><%= I18n.t "actions.edit" %></th>
            <th class="th_delete"><%= I18n.t "actions.delete" %></th>
          </tr>
        </thead>
        <% @tasks.each do |t| %>
          <tr>
            <td><%= t.task_name %></td>
            <td><%= description_message(t.description) %></td>
            <td>
              <% t.task_labels.each do |l| %>
                <%= label_message(l.label.label_name) %>
              <% end %>
            </td>
            <td><%= l(t.deadline, format: :short) if t.deadline? %></td>
            <td><%= task_priority_message(t.priority) %></td>
            <td><%= task_status_message(t.status) %></td>
            <td><%= link_to I18n.t("actions.edit"), edit_list_path(id: t.id) %></td>
            <td><%= link_to I18n.t("actions.delete"), list_path(id: t.id), :method => 'delete', data: {confirm: I18n.t("messages.delete_confirm", :column => I18n.t("words.task"), :name => t.task_name) }%></td>
          </tr>
        <% end %>
      </table>
      <%= paginate @tasks, :window => 4 %>
    </div>
  </div>
</div>