<h1><%= I18n.t "list.index.title" %></h1>

<%= link_to I18n.t("actions.new"), new_list_path %>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<table border="1">
  <tr>
    <th><%= I18n.t "attributes.task.task_name" %></th>
    <th><%= I18n.t "attributes.task.description" %></th>
    <th><%= I18n.t "attributes.task.label.other" %></th>
    <th><%= I18n.t "attributes.task.deadline" %></th>
    <th><%= I18n.t "attributes.task.priority" %></th>
    <th><%= I18n.t "attributes.task.status" %></th>
    <th><%= I18n.t "actions.edit" %></th>
    <th><%= I18n.t "actions.delete" %></th>
  </tr>
  <% @tasks.each do |t| %>
    <tr>
      <td><%= t.task_name %></td>
      <td><%= description_message(t.description) %></td>
      <td>
        <% t.task_label.each do |l| %>
          <%= label_message(l.label.label_name) %>
        <% end %>
      </td>
      <td><%= l(t.deadline, format: :short) if t.deadline? %></td>
      <td><%= task_priority_message(t.priority) %></td>
      <td><%= task_status_message(t.status) %></td>
      <td><%= link_to I18n.t("actions.edit"), edit_list_path(id: t.id) %></td>
      <td><%= link_to I18n.t("actions.delete"), list_path(id: t.id), :method=>'delete', data: {confirm: I18n.t("messages.task_delete_confirm", :name => t.task_name) }%></td>
    </tr>
  <% end %>
</table>
