<div>
  <div class="project-index" style="width: 70%; height: 100%; float: right;">
    <div>
      <i class="fas fa-user-lock fa-lg" class="fa-user-lock"></i>
      <strong><%= t('projects.personal_project') %></strong>
    </div>
    <% @projects.each do |project| %>
      <%= button_to project.name, project_url(project.id), { method: :get, class:"btn btn-success btn-show-project" }%>
    <% end %>
    <button type="button" class="btn btn-success" id="btn-create-project" data-toggle="modal" data-target="#create-project">
      <%= t('projects.create_new_project') %>
    </button>
  </div>
  <%= render 'left_side' %>
  <%= render 'modal' %>
</div>
