<div class="project-show-whole">
  <div class="project-show-header">
    <div class="project-show project-name">
      <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
      <input class="btn btn-success project show-project-name change-name-input" id=<%= @project.id %> value=<%= sanitize @project.name %>>
    </div>
    <div class="project-show project-dropdown">
      <%= render 'dropdown_show' %>
    </div>
  </div>
  <div class="project-show-body">
    <% @project.groups.order(:sort_number).each do |group| %>
      <div class="project-show group">
        <div class="project-show group-title">
          <h5>
          <%= group.name %>
          <h5>
        </div>
        <div class="project-show task-containers">
          <% group.tasks.each do |task| %>
            <button type="button" id="btn-update-task-<%= task.id %>" class="btn btn-secondary show-task-button" data-toggle="modal" data-target="#update-task-<%= task.id %>">
              <%= task.name %>
            </button>
            <%= render partial: 'tasks/modal_task_edit', locals: { task: task } %>
          <% end %>
          <button type="button" class="btn btn-secondary add-task-button" data-toggle="modal" data-target="#create-task-<%= group.id %>">
            <i class="fas fa-plus fa-sm"></i> <%= t('tasks.add_task') %>
          </button>
        </div>
      </div>
      <%= render partial: 'tasks/modal_task_new', locals: { group: group } %>
    <% end %>
  </div>
<div>
