<div class="modal" tabindex="-1" role="dialog" id="modal-window">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id="modal-body-message" hidden></div>
        <div id="modal-body-info" hidden>
          <div class="form-group">
            <label for="label">Label</label>
            <p id="info-label"></p>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <p id="info-subject"></p>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <p id="info-description"></p>
          </div>
          <div class="form-group">
            <label for="priority">Priority</label>
            <p id="info-priority"></p>
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <p id="info-state"></p>
          </div>
        </div>
        <div id="modal-body-input" hidden>
          <div class="form-group">
            <label for="priority"><span class="text-danger">※</span> Label</label>
            <select class="form-control" id="label" required>
              <option></option>
              <% @view_params['label_list'].each do | k, v |%>
              <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="subject"><span class="text-danger">※</span> Subject</label>
            <input type="text" class="form-control" id="subject" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="priority"><span class="text-danger">※</span> Priority</label>
            <select class="form-control" id="priority" required>
              <option></option>
              <% @view_params['priority_list'].each do | k, v |%>
              <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group" id="state-form-group" hidden>
            <label for="state"><span class="text-danger">※</span> State</label>
            <select class="form-control" id="state" required>
              <% @view_params['state_list'].each do | k, v |%>
              <option value="<%= k %>"><%= v %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-task" hidden>Submit</button>
        <button type="button" class="btn btn-primary" id="change-input"hidden>Change</button>
        <button type="button" class="btn btn-primary" id="change-task" hidden>Submit</button>
        <button type="button" class="btn btn-danger" id="delete-task" hidden>Submit</button>
        <input type="hidden" id="delete-id">
      </div>
    </div>
  </div>
</div>
