<%= form_for(task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(task.errors.count, "#{t :error_title}") %>
        <%= t :error_explanation %>
      </h2>
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= select :task, :status, options_for_select(Task.statuses_ja) %>
  </p>

  <p>
    <%= form.submit t :form_submit %>
  </p>
<% end %>
