<%= form_for(task) do |form| %>
  <% if task.errors.any? %>
    <div class='alert alert-warning' role='alert'>
      <h2>
        <%= pluralize(task.errors.count, "#{t :error_title}") %>
        <%= t :error_explanation %>
      </h2>
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %><br>
    <%= select :task, :status, options_for_select(Task.readable_statuses, task.status), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.text_field :deadline, class: 'datepicker' %>
  </div>

  <div class="form-group">
  <% labels.each do |label| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag 'task[label_ids][]', label.id, (task.labels.ids.include? label.id), class: 'form-check-input', id: label.name %>
      <%= label_tag label.name, nil, class: 'form-check-label' %>
    </div>
  <% end %>
  </div>

  <%= form.submit t(:form_submit), class: 'btn btn-primary' %>
<% end %>
