<div class="modal-body task-modal-body">
  <div class="task-modal-form">
    <div class="task-modal-name-and-label">

      <div class="task-modal-name">
        <div class="task-modal-name-icon">
          <i class="fas fa-pager fa-lg"></i>
          <%= t('tasks.name') %>
        </div>
        <div class="task-modal-name-input">
          <%= task.text_field :name, class:"form-control", placeholder: t('tasks.name-placeholder') %>
        </div>
      </div>

      <div class="task-modal-joined-label">
        <div class="task-modal-joined-label-icon">
          <i class="fas fa-tags fa-lg"></i>
          <%= t('tasks.label') %>
        </div>
        <div class="task-modal-joined-label-color delete-label-of-task-<%= task.object.id %>">
          <% task.object.labels.each do |label| %>
            <button type="button" class="btn task-modal-label-list-color-delete delete-<%= task.object.id %>-<%= label.id %>" name= "<%= task.object.id %>" id="<%= label.id %>" style="background-color: <%= label.color %>; border-color: <%= label.color %> "></button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="task-modal-priority">
      <div class="task-modal-priority-icon">
        <i class="fas fa-sort fa-lg"></i>
        <%= t('tasks.priority') %>
      </div>
      <div class="task-modal-priority-input">
        <h6>
        <%= task.select :priority, Task.priorities.keys, class:"form-control" %>
        </h6>
      </div>
    </div>

    <div class="task-modal-group">
      <div class="task-modal-group-icon">
        <i class="fas fa-layer-group fa-lg"></i>
        <%= t('groups.title') %>
      </div>
      <div class="task-modal-group-input">
        <h6>
        <%= task.select :group_id, group.project.groups.pluck(:name, :id), class:"form-control" %>
        </h6>
      </div>
    </div>

    <div class="task-modal-end-period-at">
      <div class="task-modal-end-period-at-icon">
        <i class="far fa-calendar-check fa-lg"></i>
        <%= t('tasks.end_period_at') %>
      </div>
      <div class="task-modal-end-period-at-input datepicker">
        <%= task.text_field :end_period_at, class:"form-control datepicker" %>
      </div>
    </div>

    <div class="task-modal-creator-name">
      <div class="task-modal-creator-name-icon">
        <i class="fas fa-user-edit fa-lg"></i>
        <%= t('tasks.creator_name') %>
      </div>
      <div class="task-modal-creator-name-input">
        <%= task.text_field :creator_name, class:"form-control" %>
      </div>
    </div>

    <div class="task-modal-assignee-name">
      <div class="task-modal-assignee-name-icon">
        <i class="fas fa-user-tag fa-lg"></i>
        <%= t('tasks.assignee_name') %>
      </div>
      <div class="task-modal-assignee-name-input">
        <%= task.text_field :assignee_name, class:"form-control" %>
      </div>
    </div>

    <div class="task-modal-description">
      <div class="task-modal-description-icon">
        <i class="far fa-edit fa-lg"></i>
        <%= t('tasks.description') %>
      </div>
      <div class="task-modal-description-input">
        <%= task.rich_text_area :description, size: "5x2", class:"form-control description", placeholder: t('tasks.description-placeholder') %>
      </div>
    </div>
  </div>
  <% if task.object.name.present? %>
    <div class="task-modal-label-form">
      <div class="task-modal-label">
        <div class="task-modal-label-icon">
          <i class="fas fa-tags fa-lg"></i>
          <%= t('tasks.label_list') %>
        </div>
        <div class="task-modal-label-list">
          <% task.object.group.project.labels.each do |label| %>
            <button type="button" <%= "disabled" if task.object.labels.pluck(:id).include?(label.id)  %> class="btn task-modal-label-list-color add-<%= task.object.id %>-<%= label.id %>" name= "<%= task.object.id %>" id="<%= label.id %>" style="background-color: <%= label.color %>; border-color: <%= label.color %>"> <%= label.name %> </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
