<div class="center jumbotron">
  <h1>All tasks</h1>
  <p class="lead"><%= t('message.lead') %></p>
  <%= form_tag(tasks_path, :method => 'get') do %>
  <div class="input-group" style="margin: 10px;">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('placeholder.search') %>
    <span class="input-group-btn">
        <%= submit_tag t('operation.search'), name: nil, class: 'btn btn-default' %>
    </span>
  </div>
  <h4>ステータス</h4>
  <div class="input-group" style="margin: 10px;">
  <% Task.statuses.each do |k, v| %>
    <%= radio_button_tag('status', k, false) %>
    <%= label_tag(k, k, class: 'label-status') %>
  <% end %>
  </div>
<% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th class="sorting_asc:after"><%= t('header.title') %></th>
      <th><%= t('header.priority') %>
        <%= link_to ({sort: 'priority', direction: 'desc', search: params[:search]}), class: is_sorted('priority', 'desc'), id: 'priority_desc' do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
        <%= link_to ({sort: 'priority', direction: 'asc', search: params[:search]}), class: is_sorted('priority', 'asc'), id: 'priority_asc' do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th><%= t('header.status') %></th>
      <th><%= t('header.due_date') %>
        <%= link_to ({sort: 'due_date', direction: 'desc', search: params[:search]}), class: is_sorted('due_date', 'desc'), id: 'due_date_desc' do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
        <%= link_to ({sort: 'due_date', direction: 'asc', search: params[:search]}), class: is_sorted('due_date', 'asc'), id: 'due_date_asc' do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th><%= t('header.created_at') %>
        <%= link_to ({sort: 'created_at', direction: 'desc', search: params[:search]}), class: is_sorted('created_at', 'desc'), id: 'created_at_desc' do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
        <%= link_to ({sort: 'created_at', direction: 'asc', search: params[:search]}), class: is_sorted('created_at', 'asc'), id: 'created_at_asc' do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <th><%= task.id %></th>
      <th class="title"><%= task.title %></th>
      <td class="priority"><span class="label label-default"><%= task.priority %></span></td>
      <td><span class="label label-success"><%= task.status %></span></td>
      <td class="due_date"><%= task.due_date %></td>
      <td class="created_at"><%= I18n.l(task.created_at, format: :default) %></td>
      <td><%= link_to t('operation.detail'), task_path(task.id) %></td>
      <td><%= link_to t('operation.update'), edit_task_path(task.id) %></td>
      <td><%= link_to t('operation.remove'), task_path(task.id), method: 'delete' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
