<div class="center jumbotron">
  <h1>All tasks</h1>
  <p class="lead">This is all tasks you created.</p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('header.title') %></th>
      <th><%= t('header.priority') %></th>
      <th><%= t('header.status') %></th>
      <th><%= t('header.due_date') %></th>
      <th><%= t('header.created_at') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <th><%= task.id %></th>
      <th><%= task.title %></th>
      <td><span class="label label-default"><%= task.priority %></span></td>
      <td><span class="label label-success"><%= task.status %></span></td>
      <td><%= task.due_date %></td>
      <td><%= I18n.l(task.created_at, format: :default) %></td>
      <td><%= link_to t('operation.detail'), task_path(task.id) %></td>
      <td><%= link_to t('operation.update'), edit_task_path(task.id) %></td>
      <td><%= link_to t('operation.remove'), task_path(task.id), method: 'delete' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
