<div class="container">
  <% if current_user.admin? %>
  <div class="row">
    <div class="col">
      <%= link_to t(:admin_menu), admin_users_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
  <div class="row mt-5">
    <div class="col">
      <h1><%= t :h1_index %></h1>
    </div>
    <div class="col">
    <% if current_user %>
      <%= t :login_as %>:<%= current_user.name %>
    <% end %>
    </div>
    <div class="col">
      <%= link_to t(:logout), logout_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= form_tag('/', method: :get) do -%>
      <div class="form-group">
      <%= label_tag t :name %>
      <%= text_field_tag :name, params[:name], class: 'form-control' %>
      </div>
      <div class="form-group">
      <%= label_tag t :status %>
      <%= select_tag :status, options_for_select(Task.readable_statuses, params[:status]), { include_blank: true, class: 'form-control' } %>
      </div>

      <div class="form-group">
      <% @labels.each do |label| %>
        <div class="form-check form-check-inline">
          <%= check_box_tag 'label_ids[]', label.id, (params[:label_ids]&.include? label.id.to_s), class: 'form-check-input', id: label.name %>
          <%= label_tag label.name, nil, class: 'form-check-label' %>
        </div>
      <% end %>
      </div>

      <%= submit_tag t(:form_btn_search), class: 'btn btn-primary', name: '' %>
    <% end %>
    </div>
  </div>



  <div class="row mt-5">
    <div class="col">
      <% if flash[:message].present? %>
      <div class="alert alert-success" role="alert"><%= flash[:message] %></div>
      <% end %>
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><%= t :name %></th>
            <th scope="col"><%= t :description %></th>
            <th scope="col"><%= t :status %></th>
            <th scope="col"><%= link_sort_by params, :deadline %></th>
            <th scope="col"><%= t :labels %></th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @tasks.each_with_index do |task, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.readable_status %></td>
            <td><%= task.readable_deadline %></td>
            <td>
              <% task.labels.each do |label| %>
                <%= label.name %>
              <% end %>
            </td>
            <td><%= link_to "#{t :link_detail}", task_path(task), class: 'btn btn-primary' %></td>
            <td><%= link_to "#{t :link_edit}", edit_task_path(task), class: 'btn btn-primary' %></td>
            <td><%= link_to "#{t :link_delete}", task_path(task),
                    class: 'btn btn-primary',
                    method: :delete,
                    data: { confirm: "#{t :delete_confirm}" } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "#{t :link_new}", new_task_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <%= paginate @tasks %>
    </div>
  </div>
</div>
