<div class="center jumbotron">
  <h1>All tasks</h1>
  <p class="lead"><%= t('message.lead', name: @user.name) %></p>
  <%= render 'search' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th class="sorting_asc:after"><%= t('activerecord.attributes.task.title') %></th>
      <th><%= t('activerecord.attributes.task.priority') %>
        <%= link_to ({sort: 'priority', direction: 'desc', search: @search_params}), class: is_sorted('tasks.priority', 'desc'), id: 'priority_desc' do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
        <%= link_to ({sort: 'priority', direction: 'asc', search: @search_params}), class: is_sorted('tasks.priority', 'asc'), id: 'priority_asc' do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th><%= t('activerecord.attributes.task.status') %></th>
      <th><%= t('activerecord.attributes.task.due_date') %>
        <%= link_to ({sort: 'due_date', direction: 'desc', search: @search_params}), class: is_sorted('tasks.due_date', 'desc'), id: 'due_date_desc' do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
        <%= link_to ({sort: 'due_date', direction: 'asc', search: @search_params}), class: is_sorted('tasks.due_date', 'asc'), id: 'due_date_asc' do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th><%= t('activerecord.attributes.task.created_at') %>
        <%= link_to ({sort: 'created_at', direction: 'desc', search: @search_params}), class: is_sorted('tasks.created_at', 'desc'), id: 'created_at_desc' do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
        <%= link_to ({sort: 'created_at', direction: 'asc', search: @search_params}), class: is_sorted('tasks.created_at', 'asc'), id: 'created_at_asc' do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <th><%= task.id %></th>
      <th class="title"><%= task.title %></th>
      <td class="priority"><span class="label label-default"><%= task.priority %></span></td>
      <td class="status"><span class="label label-success"><%= task.status %></span></td>
      <td class="due_date"><%= task.due_date %></td>
      <td class="created_at"><%= I18n.l(task.created_at, format: :default) %></td>
      <td><%= link_to task_path(task.id), id: 'task_show' do %><span class="glyphicon glyphicon-user"></span><% end %></td>
      <td><%= link_to edit_task_path(task.id), id: 'task_edit' do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
