<h1><%= t('tasks.index.title') %></h1>
<table>
  <thead>
    <tr>
      <%= binding.pry %>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:memo) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr>
        <td><%= link_to t.title, t %></td>
        <td><%= t.memo %><td/>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %>
