<% provide(:title, 'Task Registration') %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @task.title %>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('header.status') %></th>
          <th><%= t('header.priority') %></th>
          <th><%= t('header.due_date') %></th>
          <th><%= t('header.created_at') %></th>
          <th><%= t('header.updated_at') %></th>
          <th><%= t('header.user') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="label label-success"><%= @task.status %></span></td>
          <td><%= @task.priority %></td>
          <td><%= @task.due_date %></td>
          <td><%= I18n.l(@task.created_at, format: :default) %></td>
          <td><%= I18n.l(@task.updated_at, format: :default) %></td>
          <td><%= @task.user.name %></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead><tr><th><%= t('header.description') %></th></tr></thead>
      <tbody><tr><td><%= @task.description %></td><tr></tbody>
    </table>
    <%= link_to t('operation.update'), edit_task_path(@task.id), class: 'btn btn-primary' %>
    <%= link_to t('operation.remove'), task_path(@task.id), method: 'delete', class: 'btn btn-danger' %>
  </div>
</div>
<%= link_to sprintf("<< %s", t('header.list')), root_path %>
