<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = 'top-width'>
  <header>
    <% if logged_in? %>
      <ul>
        <%# ユーザー管理機能を作ったら正しい遷移先に変える %>
        <li><%= link_to 'ログアウト', session_path(current_user.id), method: :delete %></li>
        <li><%= link_to 'ユーザー管理', user_path(current_user.id) %></li>
        <li><%= link_to 'タスク一覧', tasks_path %></li>
        <li><%= link_to 'タスク投稿', new_task_path %></li>
      </ul>
    <% else %>
      <ul>
      　<li><%= link_to '新規登録', new_user_path %></li>
        <li><%= link_to 'ログイン', new_session_path %></li>
      </ul>
    <% end %>
  </header>
    <div class = 'top-width'>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% elsif flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
