<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :login_id %><br />
      <%= f.text_field :login_id, autofocus: true, autocomplete: "login_id", :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
