<%= form_with(model: user_credential, url: user_credentials_path(id: token), local: true, class: "form-horizontal") do |form| %>
  <% if user_credential.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <div class='alert-heading'>
          <a class="close" data-dismiss="alert">×</a>
          <h2><%= t('errors.template.header', model: user_credential.model_name.human, count: user_credential.errors.count) %></h2>
        </div>
        <ul>
        <% user_credential.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="btn-group">
    <%= form.submit :class => "btn btn-default btn-primary" %>
  </div>
<% end %>
