<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TMS</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "<span class='glyphicon glyphicon-list-alt'></span> #{t('page.task.title.list')}".html_safe, tasks_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <% if @current_user.admin? %>
              <li><%= link_to "<span class='glyphicon glyphicon-wrench'></span> #{t('page.admin.link.title')}".html_safe, admin_index_path %></li>
            <% end %>
            <li><%= link_to "<span class='glyphicon glyphicon-user'></span> #{@current_user.name}".html_safe , '/' %></li>
            <li><%= link_to "<span class='glyphicon glyphicon-log-out'></span> #{t('page.user.link.logout')}".html_safe, logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "<span class='glyphicon glyphicon-log-in'></span> #{t('page.user.link.login')}".html_safe, login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>

      <footer>
        <hr>
        <p>Copyright &copy; 2018 TMS All Rights Reserved</p>
      </footer>
    </div>
  </body>
</html>
