<%= form_for(task, html: { class: "form-horizontal" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :name, { class: "control-label col-md-2" } %>
    <div class="col-md-2">
      <%= f.text_field :name, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, { class: "control-label col-md-2" } %>
    <div class="col-md-2">
      <%= f.text_area :content, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expire_date, { class: "control-label col-md-2" } %>
    <div class="col-md-2">
      <%= f.date_field :expire_date, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, { class: "control-label col-md-2" } %>
    <div class="col-md-2">
      <%= f.select :status, Task::STATUS.invert, {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :labels, { class: "control-label col-md-2" } %>
    <div class="col-md-2">
      <% if labels.present? %>
        <%= f.collection_select :label_ids, @labels, :id, :name, { include_blank: false }, { class: "form-control", multiple: true } %>
      <% else %>
        ラベルがありません
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2">
      <%= f.submit submit_label, { class: "btn btn-primary" } %>
    </div>
  </div>
<% end %>
