<h1><%= t('task.edit.title') %></h1>
<div>
  <%= form_for(@task) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit t('action.update') %>
    </div>
  <% end %>
</div>
