<h1><%= t('task.show.title') %></h1>
<div>
  <div>
    <%= t('activerecord.attributes.task.name') %>:
    <%= @task.name %>
  </div>
  <div>
    <%= t('activerecord.attributes.task.content') %>:
    <%= @task.content %>
  </div>
  <div>
    <%= t('activerecord.attributes.task.expire_date') %>:
    <%= l(@task.expire_date) if @task.expire_date.present? %>
  </div>
  <div>
    <%= t('activerecord.attributes.task.created_at') %>:
    <%= l(@task.created_at) %>
  </div>
  <div>
    <ul>
      <li><%= link_to t('action.edit'), edit_task_path(@task) %></li>
      <li><%= link_to t('action.delete'), @task, method: :delete,
        data: { confirm: t('task.delete.confirm') } %></li>
    </ul>
  </div>
</div>
