<%= form_with(model: label, local: true) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <div class='alert-heading'>
          <a class="close" data-dismiss="alert">×</a>
          <h2><%= t('errors.template.header', model: label.model_name.human, count: label.errors.count) %></h2>
        </div>
        <ul>
        <% label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="btn-group">
    <%= form.submit class: "btn btn-default btn-primary" %>
  </div>
<% end %>
