<% if task.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-horizontal my-2">
  <%= form_with(model: task, local: true) do |form| %>
    <div class="form-group row">
      <%= form.label I18n.t('activerecord.attributes.task.name'), class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.text_field :name, id: :task_name %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label I18n.t('activerecord.attributes.task.description'), class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.text_area :description, id: :task_description %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label I18n.t('activerecord.attributes.task.priority'), class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.select :priority, Task.priorities_i18n.invert %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label I18n.t('activerecord.attributes.task.status'), class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.select :status, Task.statuses_i18n.invert %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label I18n.t('activerecord.attributes.task.due_date'), class: 'col-md-2 col-form-label' %>
      <div class="col-md-10">
        <%= form.date_select :due_date %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-10">
        <% if !task.id.present? %>
          <%= form.submit I18n.t('actions.create'), class: 'btn btn-outline-success' %>
        <% else %>
          <%= form.submit I18n.t('actions.update'), class: 'btn btn-outline-success' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
