<%= form_with(model: task, local: true) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label I18n.t('activerecord.attributes.task.name') %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div>
    <%= form.label I18n.t('activerecord.attributes.task.description') %>
    <%= form.text_area :description, id: :task_description %>
  </div>

  <div>
    <%= form.label I18n.t('activerecord.attributes.task.priority') %>
    <%= form.select :priority, Task.priorities_i18n.invert %>
  </div>

  <div>
    <%= form.label I18n.t('activerecord.attributes.task.due_date') %>
    <%= form.date_select :due_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
