<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<h1>TODOリスト</h1>
ゲストさん　タスク一覧
<br/>
<table border="1">
  <tr>
    <td>タスク名</td>
    <td>説明</td>
    <td>詳細</td>
    <td>#</td>
    <td>#</td>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td class="name"><%= task.name %></td>
      <td class="description"><%= task.description %></td>
      <td class="detail"><%= link_to '詳細', task %></td>
      <td class="edit"><%= link_to '編集', edit_task_path(task) %></td>
      <td class="delete"><%= link_to '削除', task, :method=>'delete', data: {confirm: "タスクを削除しても良いですか？" } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'タスク追加', new_task_path %>
