<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<h1><%= I18n.t('titles.index') %></h1>
<br/>
<table border="1">
  <tr>
    <td><%= I18n.t('activerecord.attributes.task.name') %></td>
    <td><%= I18n.t('activerecord.attributes.task.description') %></td>
    <td><%= I18n.t('activerecord.attributes.task.created_time') %></td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td class="name"><%= task.name %></td>
      <td class="description"><%= task.description %></td>
      <td class="created_at"><%= I18n.l(task.created_at, format: :long) %></td>
      <td class="detail"><%= link_to I18n.t('links.show_task'), task %></td>
      <td class="edit"><%= link_to I18n.t('links.edit_task'), edit_task_path(task) %></td>
      <td class="delete"><%= link_to I18n.t('links.delete_task'), task, :method=>'delete', data: {confirm: I18n.t('messages.action_confirm', :action => I18n.t('actions.delete'), :target => task.name) } %></td>
    </tr>
  <% end %>
</table>
<%= link_to I18n.t('links.create_task'), new_task_path %>
