<h1>TODOリスト タスク詳細</h1>

<table border="1">
  <tr>
    <td>タスク名</td>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <td>説明</td>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <td>登録日時</td>
    <td><%= @task.created_at %></td>
  </tr>
  <tr>
    <td>更新日時</td>
    <td><%= @task.updated_at %></td>
  </tr>
</table>
<%= link_to '戻る', tasks_path %>
