<h4><%= I18n.t('titles.tasks.show') %></h4>
<table class="table table-bordered">
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.name') %></td>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.description') %></td>
    <td><span><%= @task.description %></span></td>
  </tr>
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.due_date') %></td>
    <td><%= @task.due_date %></td>
  </tr>
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.priority') %></td>
    <td><%= @task.priority_i18n %></td>
  </tr>
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.status') %></td>
    <td><%= @task.status_i18n %></td>
  </tr>
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.created_time') %></td>
    <td><%= I18n.l(@task.created_at, format: :long) %></td>
  </tr>
  <tr>
    <th scope="row"><%= I18n.t('activerecord.attributes.task.updated_time') %></td>
    <td><%= I18n.l(@task.updated_at, format: :long) %></td>
  </tr>
</table>
