<h1><%= t('titles.show') %></h1>

<table border="1">
  <tr>
    <td><%= t('task.name') %></td>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <td><%= t('task.description') %></td>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <td><%= t('task.created_time') %></td>
    <td><%= l(@task.created_at, format: :long) %></td>
  </tr>
  <tr>
    <td><%= t('task.updated_time') %></td>
    <td><%= l(@task.updated_at, format: :long) %></td>
  </tr>
</table>
<%= link_to t('links.return'), tasks_path %>
