<%= link_to '新規作成', controller: 'tasks', action: 'new' %>

<table>
  <tr>
    <th>ID</th>
    <th>タスク名</th>
    <th>ステータス</th>
    <th>終了予定日</th>
    <th>作成日</th>
    <th>更新日</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.status %></td>
      <td><%= task.end_at.strftime('%Y年%m月%d日') unless task.end_at.nil? %></td>
      <td><%= task.created_at.strftime('%Y年%m月%d日') %></td>
      <td><%= task.updated_at.strftime('%Y年%m月%d日') %></td>
      <td><%= link_to '編集', edit_task_path(task) %></td>
      <td>
        <%= link_to '削除', task, controller: 'tasks', action: 'index',
                    method: :delete, data: { confirm: "タスク「#{task.title}」を削除します。よろしいですか？" } %>
      </td>
    </tr>
  <% end %>
</table>
