<p id="notice"><%= notice %></p>

<h1><%= t('.head_title') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('tasks.column.title') %></th>
    <th><%= t('tasks.column.description') %></th>
    <th><%= t('created_at') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= l(task.created_at, format: :short) %></td>
      <td><%= link_to t('show'), task %></td>
      <td><%= link_to t('edit'), edit_task_path(task) %></td>
      <td><%= link_to t('destroy'), task, method: :delete, data: { confirm: t('flash_message.delete_confirm') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('tasks.new_task'), new_task_path %>
