<% content_for(:title) { t('.title') } %>

<%= link_to t('tasks.index.title'), controller: 'tasks', action: 'index' %>

<table>
  <tbody>
    <tr>
      <th><%= Task.human_attribute_name(:id) %></th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:description) %></th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:status) %></th>
      <td><%= @task.status_i18n %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:end_at) %></th>
      <td><%= l(@task.end_at) unless @task.end_at.nil? %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <td><%= l(@task.created_at) %></td>
    </tr>
    <tr>
      <th><%= Task.human_attribute_name(:updated_at) %></th>
      <td><%= l(@task.updated_at) %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('common.edit'), controller: 'tasks', action: 'edit' %>
<%= link_to t('common.delete'), @task, controller: 'tasks', action: 'index',
            method: :delete, data: { confirm: t('notification.confirm_destroy', task_title: @task.title) } %>
