<div class="container">
  <%= render 'common/notice' %>

  <h1><%= t('.head_title') %></h1>

  <div class="form-group">
    <label class="label">
      <strong><%= Task.human_attribute_name(:title) %> : </strong>
    </label>
    <%= @task.title %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= Task.human_attribute_name(:description) %> : </strong>
    </label>
    <%= @task.description %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= Task.human_attribute_name(:status) %> : </strong>
    </label>
    <%= @task.status %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= Task.human_attribute_name(:due_date) %> : </strong>
    </label>
    <%= l(@task.due_date, format: :short) if @task.due_date %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= t('labels') %> : </strong>
    </label>
    <%= collection_check_boxes(:task, :label_ids, Label.all, :id, :name) do |b| %>
      <div class="form-check form-check-inline">
        <%= b.check_box(class: 'form-check-input', disabled: true) %>
        <%= b.label(class: 'form-check-label') %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= Task.human_attribute_name(:created_at) %> : </strong>
    </label>
    <%= l(@task.created_at, format: :short) %>
  </div>

  <%= link_to t('edit'), edit_task_path(@task) %> |
  <%= link_to t('back'), tasks_path %>
</div>
