<div class="container">
  <%= render 'common/notice' %>

  <h1><%= t('.head_title') %></h1>

  <div class="form-group">
    <label class="label">
      <strong><%= t('tasks.column.title') %> : </strong>
    </label>
    <%= @task.title %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= t('tasks.column.description') %> : </strong>
    </label>
    <%= @task.description %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= t('tasks.column.status') %> : </strong>
    </label>
    <%= @task.status %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= t('tasks.column.due_date') %> : </strong>
    </label>
    <%= l(@task.due_date, format: :short) if @task.due_date %>
  </div>

  <div class="form-group">
    <label class="label">
      <strong><%= t('tasks.column.created_at') %> : </strong>
    </label>
    <%= l(@task.created_at, format: :short) %>
  </div>

  <%= link_to t('edit'), edit_task_path(@task) %> |
  <%= link_to t('back'), tasks_path %>
</div>
