<p id="notice"><%= notice %></p>

<p>
  <strong><%= Task.human_attribute_name(:title) %> : </strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:description) %> : </strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= t('tasks.column.status') %> : </strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('tasks.column.due_date') %> : </strong>
  <%= l(@task.due_date, format: :short) if @task.due_date %>
</p>

<p>
  <strong><%= t('tasks.column.created_at') %> : </strong>
  <%= l(@task.created_at, format: :short) %>
</p>

<%= link_to t('edit'), edit_task_path(@task) %> |
<%= link_to t('back'), tasks_path %>
