<p id="notice"><%= notice %></p>

<h1><%=t 'titles.task.list' %></h1>
<div class="page_content">
<br><br>

<%= form_tag('', method: 'get') do %>

  <%= t 'activerecord.attributes.task.status' %><br>
  <input type="radio" name="status" value="0" id="task_status_all" checked="<%= params['status'].to_i == 0 %>">
  <label for="task_status_all"><%= t('models.statuses.values.v0') %></label>
  <% @statuses = Status.order('id asc') unless @statuses %>
  <% @statuses.each do |status| %>
    <%= radio_button_tag 'status', status.id , params['status'].to_i == status.id %>
    <label for="status_<%= status.id %>"><%= t("models.statuses.values.v#{status.id}") %></label>
  <% end %>
  <br><br>

  <label for="label"><%= t('activerecord.attributes.task.label') %></label><br>
  <%= select_tag 'label', options_for_select(@labels, selected: params['label']) %>
  <br><br>

  <label for="keyword"><%= t('labels.keyword') %></label><br>
  <input type="text" name="keyword" value="<%= params['keyword'] %>" id="keyword">
  <%= submit_tag "#{t 'buttons.search'}" %>

<% end %>
<br><br>

<table>
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.task.user' %></th>
      <th><%=t 'activerecord.attributes.task.title' %></th>
      <th><%=t 'activerecord.attributes.task.description' %></th>
      <th><%=sortable Task, 'status', t('activerecord.attributes.task.status') %></th>
      <th><%=sortable Task, 'priority', t('activerecord.attributes.task.priority') %></th>
      <th><%=sortable Task, 'due_date', t('activerecord.attributes.task.due_date') %></th>
      <th><%=t 'activerecord.attributes.task.start_date' %></th>
      <th><%=t 'activerecord.attributes.task.finished_date' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.user_id %></td>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= t("models.statuses.values.v#{Status.find(task.status).id}") %></td>
        <td><%= t("models.priorities.values.v#{Priority.find(task.priority).id}") %></td>
        <td><%= task.due_date %></td>
        <td><%= task.start_date %></td>
        <td><%= task.finished_date %></td>
        <% if !@user['admin_flag'] %>
        <td><%= link_to "#{t 'buttons.show'}", task %></td>
        <td><%= link_to "#{t 'buttons.edit'}", edit_task_path(task) %></td>
        <td><%= link_to "#{t 'buttons.delete'}", task, method: :delete, data: { confirm: "#{t 'confirmations.delete' }" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>

<% if !@user['admin_flag'] %>
<%= link_to "#{t 'buttons.new'}", new_task_path %>
<% end %>

<div>
