<p id="notice"><%= notice %></p>

<h1><%= @task.title %></h1>

<p>
  <strong><%=t 'activerecord.attributes.task.title' %> : </strong>
  <%= @task.title %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.description' %> : </strong>
  <%= @task.description %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.status' %> : </strong>
  <%= t("models.statuses.values.v#{Status.find(@task.status).id}") %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.priority' %> : </strong>
  <%= t("models.priorities.values.v#{Priority.find(@task.priority).id}") %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.label' %> : </strong>
  <% @task.labels.each do |label| %>
  <span class="label"><%= label.label %></span>
  <% end %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.due_date' %> : </strong>
  <%= @task.due_date %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.start_date' %> : </strong>
  <%= @task.start_date %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.task.finished_date' %> : </strong>
  <%= @task.finished_date %>
</p>

<%= link_to "#{t 'buttons.edit'}", edit_task_path(@task) %> |
<%= link_to "#{t 'buttons.back'}", tasks_path %>
