<h3 class="mb-3"><%= I18n.t('words.resource', owner: "#{@user.email}", item: I18n.t('actions_with_model.index', model_name: Task.model_name.human)) %></h3>

<%= form_with url: tasks_admin_user_path(@user), method: :get, local: true, class: 'form-inline mb-3' do |f| %>
  <%= f.text_field :name, placeholder: 'タスク名を入力', value: params[:name], class: 'form-control mr-2 col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2' %>
  <%= f.label Task.human_attribute_name(:status), class: 'mr-1' %>
  <%= f.select :status, Task.statuses.map { |key, _| [I18n.t("enums.task.status.#{key}"), key] }, selected: params[:status], include_blank: '指定しない' %>
  <%= f.label Label.model_name.human, class: 'ml-3 mr-1' %>
  <%= f.select :label, current_user.labels.map { |label| [label.name, label.name] }, selected: params[:label], include_blank: '指定しない' %>
  <%= f.submit I18n.t('words.search'), class: 'btn btn-primary btn-sm ml-3' %>
<% end %>

<div class="task-pagination">
  <%= paginate @tasks %>
  <%= page_entries_info @tasks %>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <th><%= Task.human_attribute_name(:description) %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th><%= Label.model_name.human %></th>
      <th><%= Task.human_attribute_name(:priority) %><%= admin_sort_link(@user, :priority) %></th>
      <th><%= Task.human_attribute_name(:due_date) %><%= admin_sort_link(@user, :due_date) %></th>
      <th><%= Task.human_attribute_name(:created_at) %><%= admin_sort_link(@user, :created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= simple_format(task.description, class: 'mb-0') %></td>
        <td><%= I18n.t("enums.task.status.#{task.status}") %></td>
        <td>
          <% task.labels.each do |label| %>
            <span class="badge badge-info"><%= label.name %></span>
          <% end %>
        </td>
        <td><%= I18n.t("enums.task.priority.#{task.priority}") %></td>
        <td><%= I18n.l(task.due_date, format: :short) %></td>
        <td><%= I18n.l(task.created_at, format: :long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to I18n.t('words.back'), admin_users_path %>
