<%= form_for(@user, url: url, method: @user.id.nil? ? :post : :patch ) do |f| %>
  <div class="form-group row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <% if logged_in? && current_user.role == "admin" %>
    <div class="form-group row">
      <%= f.label :role %>
      <%= f.select :role, user_roles, {}, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.submit button_name, class: 'btn btn-primary' %>
  </div>
<% end %>
