<h1>新規登録</h1>

<%= render partial: 'shared/error_message', locals: { model: @user } %>

<%= form_for @user, url: users_create_path do |f| %>

  <div class="form-group row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="form-group row">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.submit t('button.submit'), class: "btn btn-primary" %>
  </div>
<% end %>
