<div>
  <%= render 'error_messages', model: task %>

  <%= form_with model: task do |f| %>
    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td>:</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td>:</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td><%= f.label :priority %></td>
        <td>:</td>
        <td><%= f.select :priority, Task.priorities.keys.to_a, {} %></td>
      </tr>
      <tr>
        <td><%= f.label :status %></td>
        <td>:</td>
        <td><%= f.select :status, Task.statuses.keys.to_a, {} %></td>
      </tr>
      <tr>
        <td><%= f.label :due %></td>
        <td>:</td>
        <td><%= f.datetime_field :due, value: Date.current.strftime("%Y-%m-%dT%T") %></td>
      </tr>
    </table>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
