<%= render 'error_messages', model: task %>

<div class="card col-md-6">
  <div class="card-body">
    <div class="card-title">
      <figcaption class="figure-caption text-center">
        <% if request.path_info == new_task_path %>
          <%= t('operation.task-new') %>
        <% elsif request.path_info == edit_task_path %>
         <%= t('operation.task-edit') %>
        <% end %>
      </figcaption>
    </div>
    <%= form_with model: task do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 10, class: 'form-control' %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :priority %>
          <%= f.select :priority, options_for_select(Task.priorities.map { |k, v| [t("enums.task.priority.#{k}"), v] }), class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :status %>
          <%= f.select :status, options_for_select(Task.statuses.map { |k, v| [t("enums.task.status.#{k}"), v] }), class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :due %>
        <%= f.datetime_field :due, value: Date.current.strftime("%Y-%m-%dT%T"), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
