<!-- header -->
<div class="card col-md-6">
  <div class="card-body">
    <h1><%= t('operation.title_general') %></h1>
    <div>
      <%= link_to t('button.index'), tasks_path %>
      <% if request.path_info != new_task_path %>
        <%= link_to t('button.add'), new_task_path %>
      <% end %>
      <% if @current_user.role == 'administrator' %>
        <%= link_to t('button.admin'), admin_users_path %>
      <% end %>
    </div>
    <div>
      <%= link_to t('button.logout'), logout_path, method: :delete %>
    </div>
  </div>
</div>

<!-- flash message -->
<% if flash[:notice] %>
  <div class="card col-md-6">
    <div class="card-body">
      <div class="alert alert-success">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
