<%= render 'flash' %>

<div>
  <h1>TYLE</h1>
  <%= link_to t('button.index'), tasks_path %>
  <%= link_to t('button.add'), new_task_path %>
</div>

<hr>

<div>
  <%= form_tag(tasks_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= select_tag :priority, options_for_select(Task.priorities.map { |k, v| [k.capitalize, v] }, selected: params[:priority]) %>
    <%= select_tag :status, options_for_select(Task.statuses.map { |k, v| [k.capitalize, v] }, selected: params[:status]) %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
</div>

<hr>

<div>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.task.name') %></th>
      <th><%= link_to t('activerecord.attributes.task.priority'), sort: 'priority', search: params[:search], priority: params[:priority], status: params[:status] %></th>
      <th><%= link_to t('activerecord.attributes.task.status'), sort: 'status', search: params[:search], priority: params[:priority], status: params[:status]%></th>
      <th><%= link_to t('activerecord.attributes.task.due'), sort: 'due', search: params[:search], priority: params[:priority], status: params[:status]%></th>
      <th><%= t('button.detail') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= task.name %></td>
        <td class="task-priority"><%= task.priority %></td>
        <td class="task-status"><%= task.status %></td>
        <td class="task-due"><%= task.due %></td>
        <td><%= link_to t('activerecord.attributes.task.detail'), task_path(task.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
