<%= render 'flash' %>

<div>
  <h1>TYLE</h1>
  <%= link_to t('button.index'), tasks_path %>
  <%= link_to t('button.add'), new_task_path %>
</div>

<hr>

<div>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.task.name') %></th>
      <th><%= t('activerecord.attributes.task.priority') %></th>
      <th><%= t('activerecord.attributes.task.status') %></th>
      <th><%= t('activerecord.attributes.task.due_at') %></th>
      <th><%= t('button.detail') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= task.name %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= l(task.due_at) %></td>
        <td><%= link_to t('activerecord.attributes.task.detail'), task_path(task.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
