<%= render 'flash' %>

<div>
  <h1>TYLE</h1>
  <%= link_to t('button.index'), tasks_path %>
  <%= link_to t('button.add'), new_task_path %>
</div>

<hr>

<div>
  <table>
    <caption><%= t('operation.task-list') %></caption>
    <tr>
      <th><%= t('activerecord.attributes.task.name') %></th>
      <th>
        <%= switch_asc_and_desc('priority', @sort_column, @sort_direction) %>
        <%= show_asc_or_desc('priority', @sort_column, @sort_direction) %>
      </th>
      <th>
        <%= switch_asc_and_desc('status', @sort_column, @sort_direction) %>
        <%= show_asc_or_desc('status', @sort_column, @sort_direction) %>
      </th>
      <th>
        <%= switch_asc_and_desc('due', @sort_column, @sort_direction) %>
        <%= show_asc_or_desc('due', @sort_column, @sort_direction) %>
      </th>
      <th>
        <%= switch_asc_and_desc('created_at', @sort_column, @sort_direction) %>
        <%= show_asc_or_desc('created_at', @sort_column, @sort_direction) %>
      </th>
      <th><%= t('button.detail') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= task.name %></td>
        <td class="task-priority"><%= task.priority %></td>
        <td class="task-status"><%= task.status %></td>
        <td class="task-due"><%= I18n.l(task.due) %></td>
        <td class="task-created-at"><%= I18n.l(task.created_at) %></td>
        <td><%= link_to t('activerecord.attributes.task.detail'), task_path(task.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
