<%= render 'flash' %>

<div>
  <h1>TYLE</h1>
  <%= link_to t('button.index'), tasks_path %>
  <%= link_to t('button.add'), new_task_path %>
</div>

<hr>

<div>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.task.name') %></th>
      
      <% # You can switch 'asc' and 'desc'%>
      <% if params[:sort] == 'priority' && params[:direction] == 'desc' %>
        <th><%= link_to t('activerecord.attributes.task.priority'), sort: 'priority', direction: 'asc' %></th>
      <% else %>
        <th><%= link_to t('activerecord.attributes.task.priority'), sort: 'priority', direction: 'desc' %></th>
      <% end %>
      
      <% # You can switch 'asc' and 'desc'%>
      <% if params[:sort] == 'status' && params[:direction] == 'desc' %>
        <th><%= link_to t('activerecord.attributes.task.status'), sort: 'status', direction: 'asc' %></th>
      <% else %>
        <th><%= link_to t('activerecord.attributes.task.status'), sort: 'status', direction: 'desc' %></th>
      <% end %>
      
      <% # You can switch 'asc' and 'desc'%>
      <% if params[:sort] == 'due' && params[:direction] == 'desc' %>
        <th><%= link_to t('activerecord.attributes.task.due'), sort: 'due', direction: 'asc' %></th>
      <% else %>
        <th><%= link_to t('activerecord.attributes.task.due'), sort: 'due', direction: 'desc' %></th>
      <% end %>
      
      <th><%= t('button.detail') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= task.name %></td>
        <td class="task-priority"><%= task.priority %></td>
        <td class="task-status"><%= task.status %></td>
        <td class="task-due"><%= I18n.l(task.due) %></td>
        <td><%= link_to t('activerecord.attributes.task.detail'), task_path(task.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
