<%= render 'header' %>

<!-- search -->
<div class="card col-md-6">
  <div class="card-body">
    <%= form_with url: tasks_path, local: true, html: { method: :get } do |f| %>
      <div class="form-row">
        <div class="col-auto">
          <%= f.label t('activerecord.attributes.task.name') %>
          <%= f.text_field :name, value: params[:name], class: 'form-control-sm', id: 'search_by_name' %>
        </div>
        <div class="col-auto">
          <%= f.label t('activerecord.attributes.task.priority') %>
          <%= select_tag :priority, options_for_select(Task.priorities.map { |k, v| [k.capitalize, v] }, selected: params[:priority]), prompt: t('operation.select.prompt'), class: 'form-control-sm', id: 'search_by_priority' %>
        </div>
        <div class="col-auto">
          <%= f.label t('activerecord.attributes.task.status') %>
          <%= select_tag :status, options_for_select(Task.statuses.map { |k, v| [k.capitalize, v] }, selected: params[:status]), prompt: t('operation.select.prompt'), class: 'form-control-sm', id: 'search_by_status' %>
        </div>
        <div class="col-auto">
          <%= f.submit t('button.search'), class: 'btn btn-sm btn-primary'%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- tasks -->
<div class="card col-md-6">
  <div class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.task.name') %></th>
          <th><%= switch_asc_and_desc('priority') %></th>
          <th><%= switch_asc_and_desc('status') %></th>
          <th><%= switch_asc_and_desc('due') %></th>
          <th><%= t('button.detail') %></th>
        </tr>
        </thead>
        <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td class="task-name"><%= task.name %></td>
            <td class="task-priority"><%= task.priority %></td>
            <td class="task-status"><%= task.status %></td>
            <td class="task-due"><%= I18n.l(task.due) %></td>
            <td><%= link_to t('activerecord.attributes.task.detail'), task_path(task.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @tasks %>
  </div>
</div>
