<h1><%= link_to t('.title'), root_path %></h1>
<table>
  <tr>
    <th><%= t('.status') %></th>
    <th><%= link_sort t('.deadline') %></th>
    <th><%= t('.name') %></th>
    <th><%= t('.content') %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= t('tasks.status.' + task.status) %></td>
      <td><%= task.deadline %></td>
      <td class='name'><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= link_to t('.detail'), task_path(task.id) %></td>
      <td><%= link_to t('.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('.delete'), task_path(task.id), method: :delete, data: {confirm: t('.confirm')} %></td>
    </tr>
  <% end %>
</table>
<%= link_to t('.new_task'), new_task_path %>
