<h1><%= t('.title') %></h1>
<table class="table table-striped table-bordered">
  <tr>
    <td><%= t('.name') %></td>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <td><%= t('.content') %></td>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <td><%= t('.status') %></td>
    <td><%= @task.status_i18n %></td>
  </tr>
  <tr>
    <td><%= t('.priority') %></td>
    <td><%= @task.priority_i18n %></td>
  </tr>
  <tr>
    <td><%= t('.deadline') %></td>
    <td><%= @task.deadline %></td>
  </tr>
  <tr>
    <td><%= t('.label_name') %></td>
    <td><% @task.labels.each do |label| %>
      <%= label.name %>
    <% end %></td>
  </tr>
</table>
<%= link_to t('.back'), :back %>
