<h1><%= I18n.t('labels.view.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('attributes.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to I18n.t('labels.view.page.show_page'), label %></td>
        <td><%= link_to I18n.t('labels.view.page.edit_page'), edit_label_path(label) %></td>
        <td><%= link_to I18n.t('labels.view.page.delete'), label, method: :delete, data: { confirm: I18n.t('labels.view.index.delete_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('labels.view.page.new_page'), new_label_path %>
