<div class="container">
  <div class="panel">
    <div class="panel-body">
      <% flash.each do |alert_type, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{alert_type}") %>
      <% end %>
      <%= form_tag(admin_user_path, :method => 'get' ) do %>
        <div class="form-group form-inline">
          <%= label_tag t "attributes.task.task_name" %>
          <%= text_field_tag :task_name, value = params[:task_name], :class => "form-control input-sm" %>

          <%= label_tag t "attributes.task.status" %>
          <%= select_tag :status, options_for_select(Task.statuses.keys.map { |k| [t("enum.task.status.#{k}"), k] }, :selected => params[:status] ), :include_blank => true %>
          <%= submit_tag t("actions.search"), :status => nil, :class => "btn btn-default" %>
        </div>
      <% end %>
      <h4><span class="label label-primary col-md-4"><%= @user.user_name %></span><span class="label label-default col-md-4"><%= @user.mail %></label></h4>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="th_task_name"><%= I18n.t "attributes.task.task_name" %></th>
            <th class="th_task"><%= I18n.t "attributes.task.description" %></th>
            <th class="th_label"><%= I18n.t "attributes.task.label.other" %></th>
            <th class="th_deadline"><%= sortable(column: "deadline", title: I18n.t("attributes.task.deadline")) %></th>
            <th class="th_priority"><%= I18n.t "attributes.task.priority" %></th>
            <th class="th_status"><%= I18n.t "attributes.task.status" %></th>
          </tr>
        </thead>
        <% @tasks.each do |t| %>
          <tr>
            <td><%= t.task_name %></td>
            <td><%= description_message(t.description) %></td>
            <td>
              <% t.task_label.each do |l| %>
                <%= label_message(l.label.label_name) %>
              <% end %>
            </td>
            <td><%= l(t.deadline, format: :short) if t.deadline? %></td>
            <td><%= task_priority_message(t.priority) %></td>
            <td><%= task_status_message(t.status) %></td>
          </tr>
        <% end %>
      </table>
      <%= paginate @tasks, :window => 4 %>
    </div>
  </div>
</div>