<h1><%= @user.name %>のマイページ</h1>

<p><%= I18n.t('activerecord.attributes.user.email') %>: <%= @user.email %></p>
<td class = 'col-md-1 col-xs-3'><%= link_to 'ラベル作成', new_label_path, class: 'btn btn-info'%></td>
<td class = 'col-md-1 col-xs-3'><%= link_to 'ラベル一覧', labels_path, class: 'btn btn-info'%></td>
<td class = 'col-md-1 col-xs-3'><%= link_to 'ユーザー編集', edit_user_path(@user.id), class: 'btn btn-info'%></td>
