<%= bootstrap_form_for(@task) do |t| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= t.text_field :title %>
  <%= t.text_area :description %>
  <%= t.datetime_select :deadline %>
  <%= t.select :status, StatusType.all.map { |key| [StatusType.human_attribute_name(key), key] }, { label: "ステータスを選択してください" } %>
  <%= t.select :priority, [["低い", 1], ["通常", 2], ["早めに", 3], ["急いで", 4], ["今すぐ", 5]], { label: "優先度を選択してください" } %>

  <%= t.submit submit_btn_name, class: "btn btn-success" %>
  <%= link_to "キャンセル", tasks_path, {:class=>"btn btn-default"} %>

<% end %>