<%= bootstrap_form_for(@task) do |t| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= t.text_field :title %>
  <%= t.text_area :description %>
  <%= t.datetime_select :deadline %>
  <%= t.select :status, status_pull_down,
               { label: I18n.t('helpers.select.prompt_with_title', title: StatusType.model_name.human) } %>
  <%= t.select :priority,priority_pull_down,
               { label: I18n.t('helpers.select.prompt_with_title', title: PriorityType.model_name.human) } %>

  <%= t.submit submit_btn_name, class: "btn btn-success" %>
  <%= link_to I18n.t('helpers.submit.cancel'), tasks_path, {:class=>"btn btn-default"} %>

<% end %>