<div id="todo_app_task_list">
  <h1><%= I18n.t('page.task.title.list') %></h1>

  <div class="tool-bar">
    <div class="tool-bar-right tool-bar-item">
      <%= button_to I18n.t('helpers.submit.add'), new_task_path, method: :get, id: "add_task_button", class: "btn btn-success"  %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= I18n.t('page.task.title.search') %></h4>
      <div class="card-text">
        <%= bootstrap_form_tag url: tasks_path, method: :get, enforce_utf8: false do |f| %>
          <%= f.text_field :title, value: @input_title, label: I18n.t('page.task.label.title') %>
          <%= f.select :status, options_for_select(status_pull_down, selected: @selected_status),
                       { label: I18n.t('page.task.label.status') } %>
          <%= f.select :sort, options_for_select(sort_pull_down, selected: @selected_sort),
                       { label: I18n.t('page.sort.title') } %>
          <%= f.submit I18n.t('helpers.submit.search'), class: "btn btn-success", :name => nil %>

        <% end %>
      </div>
    </div>
  </div>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

<table id="task_table" class="table">
  <thead>
  <tr>
    <th><%= I18n.t('page.task.label.status') %></th>
    <th><%= I18n.t('page.task.label.title') %></th>
    <th><%= I18n.t('helpers.submit.edit') %></th>
    <th><%= I18n.t('helpers.submit.delete') %></th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= status_value task.status %></td>
      <td><%= link_to task.title, task_path(task) %></td>
      <td>
        <%= link_to edit_task_path(task), class: "edit-button" do %>
          <%= fa_icon "edit" %>
        <% end %>
      </td>
      <td>
        <%= link_to task_path(task),
                      method: :delete, data: { confirm: I18n.t('confirm.ok?') }, class: "trash-button" do %>
          <%= fa_icon "trash-o" %>
        <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>