<div id="todo_app_task_list">
<h1><%= I18n.t('page.task.title.list') %></h1>

<%= button_to I18n.t('helpers.submit.add'), new_task_path, method: :get, id: "add_task_button", class: "btn btn-success"  %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

<table id="task_table" class="table">
  <thead>
  <tr>
    <th><%= I18n.t('page.task.label.status') %></th>
    <th><%= I18n.t('page.task.label.title') %></th>
    <th><%= I18n.t('helpers.submit.edit') %></th>
    <th><%= I18n.t('helpers.submit.delete') %></th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= status_value task.status %></td>
      <td><%= link_to task.title, task_path(task) %></td>
      <td>
        <%= link_to edit_task_path(task), class: "edit-button" do %>
          <%= fa_icon "edit" %>
        <% end %>
      </td>
      <td>
        <%= link_to task_path(task),
                      method: :delete, data: { confirm: I18n.t('confirm.ok?') }, class: "trash-button" do %>
          <%= fa_icon "trash-o" %>
        <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>