<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>

<p>
  <strong><%= t('activerecord.attributes.task.name') + ':' %></strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.status') + ':' %></strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.description') + ':' %></strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.due_date') + ':' %></strong>
  <%= @task.due_date %>
</p>

<div class="btn-group" %>
  <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-outline-info' %>
</div>
<div class="btn-group" %>
  <%= link_to 'Back', tasks_path, class: 'btn btn-outline-secondary' %>
</div>
