<% if @task.errors.present? %>
  <ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li class = 'list'><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with(model: @task, local: true) do |form| %>
  <div class = 'task_name'>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class = 'task_content'>
    <%= form.label :content %>
    <%= form.text_area :content, :placeholder => '空欄でもOKです!' %>
  </div>
  <div class = 'task_priority'>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]} %>
  </div>
  <div class = 'task_status'>
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]} %>
  </div>
  <div class = 'task_endtime'>
    <%= form.label :endtime %>
    <%= form.datetime_select :endtime, :include_blank => true %>
  </div>
  <div class = 'task_new_post' >
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>