# frozen_string_literal: true.
<% if @task.errors.present? %>
  <ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <%= form.label :priority %>
  <%= form.text_field :priority %>
  <%= form.label :status %>
  <%= form.select :status, Task.statuses.keys.to_a, {} %>
  <%= form.label :endtime %>
  <%= form.datetime_select :endtime, :include_blank => true %>
  <%= form.submit %>
<% end %>