<h1>タスク一覧</h1>
<% if notice %>
  <p><%= notice %></p>
<% end %>
<table>
  <tr>
    <th>名前</th>
    <th>内容</th>
    <th>優先順位</th>
    <th>スターテス</th>
    <th>終了時間</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= task.endtime %></td>
    <td><%= link_to '詳細', task_path(task.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '投稿', new_task_path %>