<h1>タスク詳細</h1>
<p>タイトル: <%= @task.name %></p>
<p>内容: <%= @task.content %></p>
<p>優先順位: <%= @task.priority %></p>
<p>スターテス: <%= @task.status %></p>
<p>終了時間: <%= @task.endtime %></p>

<%= link_to "編集", edit_task_path(@task.id) %>
<%= link_to '削除', task_path(@task.id), method: :delete, data: { confirm: '本当に編集していいですか？' } %>