<h1>タスク詳細</h1>
<div class = 'task' style="width: 100%;word-break:break-all;">
  <p><%= I18n.t('activerecord.attributes.task.name') %>:<%= @task.name %></p>
  <p><%= I18n.t('activerecord.attributes.task.content') %>:<%= @task.content %></p>
  <p><%= I18n.t('activerecord.attributes.task.priority') %>:<%= @task.priority_i18n %></p>
  <p><%= I18n.t('activerecord.attributes.task.status') %>:<%= @task.status_i18n %></p>
  <% if @task.endtime %>
    <p><%= I18n.t('activerecord.attributes.task.endtime') %>:<%= @task.endtime.strftime('%Y/%m/%d %H:%M') %></p>
  <% else %>
    <p><%= I18n.t('activerecord.attributes.task.endtime') %>:<%= @task.endtime %></p>
  <% end %>
  <%= I18n.t('activerecord.attributes.task.label') %>:
  <% @task.labels.each do |task_label| %>
    <%= task_label.name %>
  <% end %>
</div>

<%= link_to '編集', edit_task_path(@task.id), class: 'btn btn-info' %>
<%= link_to '削除', task_path(@task.id), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除していいですか？' } %>
