<%= form_with(model: user, local: true) do |form| %>

  <p id="notice"><%= notice %></p>

  <div class="field">
    <%= form.label :login_id %>
    <%= form.text_field :login_id %>
  </div>

  <% if !user.id.present? %>
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_flag %>
    <%= form.check_box :admin_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
