
<h1><%=t 'titles.user.list' %></h1>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.user.login_id' %></th>
      <th><%=t 'activerecord.attributes.user.admin_flag' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login_id %></td>
        <td><%= user.admin_flag %></td>
        <td><%= link_to "#{t 'buttons.edit'}", edit_user_path(user) %></td>
        <td><%= link_to "#{t 'buttons.delete'}", user, method: :delete, data: { confirm: "#{t 'confirmations.delete' }" } %></td>
        <td><%= link_to "#{t 'activerecord.models.task'}(#{user.tasks.count})", "users/#{user.id}/tasks" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'buttons.new'}", new_user_path %>
