<p id="notice"><%= notice %></p>

<p>
  <strong><%=t 'activerecord.attributes.user.login_id' %> : </strong>
  <%= @user.login_id %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.user.admin_flag' %> : </strong>
  <%= @user.admin_flag %>
</p>

<%= link_to "#{t 'buttons.edit'}", edit_user_path(@user) %> |
<%= link_to "#{t 'buttons.back'}", users_path %>
