<p id="notice"><%= notice %></p>

<h1><%= t('.page_title') %></h1>

<div>
<%= form_tag(root_path, method: 'get') do %>
  <%= label_tag :search_title, t('.search_title') %><%= text_field_tag :search_title, params[:search_title] %>
  <%= label_tag :search_status, t('.search_status') %><%= select_tag :search_status, options_for_select(Task.statuses.map { |k, v| [t("tasks.status.#{k}"), k] }), :prompt => '状態' %>
  <%= submit_tag t('.search_submit') %>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.content') %></th>
      <th><%= t('.status') %></th>
      <th><%= toggled_sort_link('end_time') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class='title'><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.human_attribute_enum(:status) %></td>
        <td><%= task.end_time %></td>
        <td><%= link_to t('.detail'), task %></td>
        <td><%= link_to t('.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('.delete'), task, method: :delete, data: { confirm: t('.delete_message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_task'), new_task_path %>
