<p id="notice"><%= notice %></p>

<h1><%= t('.page_title') %></h1>

<p>
  <strong><%= t('.user') %></strong>
  <%= @task.user_id %>
</p>

<p>
  <strong><%= t('.title') %> : </strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('.content') %> : </strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('.status') %> : </strong>
  <% if @task.status == "yet" %>
    未着手
  <% elsif @task.status == "do" %>
    着手
  <% elsif @task.status == "done" %>
    完了
  <% end %>
</p>

<p>
  <strong><%= t('.end_time') %> </strong>
  <%= @task.end_time %>
</p>

<%= link_to t('.back'), tasks_path %>
