<p id="notice"><%= notice %></p>

<h1 class='display-4'><%= t('.page_title') %></h1>

<p>
  <div class="form-group h4"><%= t('.user') %></div>
  <%= current_user.name.upcase %>
</p>

<p>
  <div class="form-group h4"><%= t('.title') %> </div>
  <%= @task.title %>
</p>

<p>
  <div class="form-group h4"><%= t('.content') %> </div>
  <%= @task.content %>
</p>

<p>
  <div class="form-group h4"><%= t('.status') %> </div>
  <%= @task.human_attribute_enum(:status) %>
</p>

<p>
  <div class="form-group h4"><%= t('.end_time') %> </div>
  <%= @task.end_time %>
</p>

<%= link_to t('.back'), tasks_path, class: 'btn btn-secondary' %>
