<header>
  <div class="d-flex justify-content-between align-items-center">
    <div id="header-logo-div">
      <%= link_to 'dongheetodo', root_path %>
    </div>
    <div id="header-control-div">
      <% if logged_in? %>
        <%= link_to t('activerecord.tasks.index.title'), tasks_path %>
        <%= link_to t('activerecord.labels.index.title'), labels_path %>
        &nbsp;|&nbsp;
        <%= current_user.email %>
        <%= link_to t('button.logout'), logout_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to t('button.signup'), signup_path %>
        <%= link_to t('button.login'), login_path %>
      <% end %>
    </div>
  </div>
</header>
