<%= form_with model: @user, local: true do |f| %>
  <%= render "layouts/errors", model: f.object %>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.user.email"), class: 'label' %><br>
    <%= f.text_field :email, type: 'email', required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.attributes.user.password_digest"), class: 'label' %><br>
    <%= f.password_field :password_digest, minlength: 8, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t("activerecord.label.password_confirm"), class: 'label' %><br>
    <%= f.password_field :password_digest_confirm, minlength: 8, required: true, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>