<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
          <th><%= form.label :title, t('page.task.thead.title') %></th>
          <td><%= form.text_field :title, id: :task_title %></td>
        </tr>
        <tr>
          <th><%= form.label :description, t('page.task.thead.description') %></th>
          <td><%= form.text_area :description, id: :task_description %></td>
        </tr>
        <tr>
          <th><%= form.label :due_date, t('page.task.thead.due_date') %></th>
          <td><%= form.text_field :due_date, id: :task_due_date %></td>
        </tr>
        <tr>
          <th><%= form.label :priority, t('page.task.thead.priority') %></th>
          <td><%= form.select :priority, [[t('page.task.priority.low'), 0],
                                          [t('page.task.priority.middle'), 1],
                                          [t('page.task.priority.high'), 2]
                                         ], id: :task_priority %></td>
        </tr>
        <tr>
          <th><%= form.label :status, t('page.task.thead.status') %></th>
          <td><%= form.select :status, [[t('page.task.status.open'), 0],
                                        [t('page.task.status.inprogress'), 1],
                                        [t('page.task.status.done'), 2]
                                       ], id: :task_status %></td>
        </tr>
        <tr>
          <th><%= form.label :user_id, t('page.task.thead.user') %></th>
          <td><%= form.number_field :user_id, id: :task_user_id %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="actions">
    <%= form.submit :class => 'btn btn-info btn-sm' %>
  </div>
<% end %>
