<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t('page.task.thead.title') %>
    <%= form.text_field :title, id: :task_title %>
  </div>

  <div class="field">
    <%= form.label :description, t('page.task.thead.description') %>
    <%= form.text_area :description, id: :task_description %>
  </div>

  <div class="field">
    <%= form.label :due_date, t('page.task.thead.due_date') %>
    <%= form.text_field :due_date, id: :task_due_date %>
  </div>

  <div class="field">
    <%= form.label :priority, t('page.task.thead.priority') %>
    <%= form.number_field :priority, id: :task_priority %>
  </div>

  <div class="field">
    <%= form.label :status, t('page.task.thead.status') %>
    <%= form.number_field :status, id: :task_status %>
  </div>

  <div class="field">
    <%= form.label :user_id, t('page.task.thead.user') %>
    <%= form.number_field :user_id, id: :task_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
