<p id="notice"><%= notice %></p>

<h1><%= t("page.task.title.list") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("page.task.thead.title") %></th>
      <th><%= t("page.task.thead.description") %></th>
      <th><%= t("page.task.thead.due_date") %></th>
      <th><%= t("page.task.thead.priority") %></th>
      <th><%= t("page.task.thead.status") %></th>
      <th><%= t("page.task.thead.user") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= priority_flg(task.priority) %></td>
        <td><%= status_flg(task.status) %></td>
        <td><%= task.user_id %></td>
        <td><%= link_to "#{t("page.task.link.detail")}".html_safe, task %></td>
        <td><%= link_to "#{t("page.task.link.edit")}".html_safe, edit_task_path(task) %></td>
        <td><%= link_to "#{t("page.task.link.delete")}".html_safe, task, method: :delete, data: { confirm: t("dialog") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t("page.task.link.new")}".html_safe, new_task_path %>
