<p id="notice"><%= notice %></p>

<h1><%= t('page.task.title.detail') %></h1>

<p>
<strong><%= t('page.task.thead.title') %>:</strong>
  <%= @task.title %>
</p>

<p>
<strong><%= t('page.task.thead.description') %>:</strong>
  <%= @task.description %>
</p>

<p>
<strong><%= t('page.task.thead.due_date') %>:</strong>
  <%= @task.due_date %>
</p>

<p>
<strong><%= t('page.task.thead.priority') %>:</strong>
  <%= priority_name(@task.priority) %>
</p>

<p>
<strong><%= t('page.task.thead.status') %>:</strong>
  <%= status_name(@task.status) %>
</p>

<p>
<strong><%= t('page.task.thead.user') %>:</strong>
  <%= @task.user_id %>
</p>

<p>
<strong><%= t('page.task.thead.created_at') %>:</strong>
  <%= @task.created_at %>
</p>

<%= link_to t('page.task.link.edit'), edit_task_path(@task) %> |
<%= link_to t('page.task.link.back'), tasks_path %>
