<p id="notice"><%= notice %></p>

<h1><%= t("page.task.title.detail") %></h1>

<p>
<strong><%= t("page.task.thead.title") %>:</strong>
  <%= @task.title %>
</p>

<p>
<strong><%= t("page.task.thead.description") %>:</strong>
  <%= @task.description %>
</p>

<p>
<strong><%= t("page.task.thead.due_date") %>:</strong>
  <%= @task.due_date %>
</p>

<p>
<strong><%= t("page.task.thead.priority") %>:</strong>
  <%= @task.priority %>
</p>

<p>
<strong><%= t("page.task.thead.status") %>:</strong>
  <%= @task.status %>
</p>

<p>
<strong><%= t("page.task.thead.user") %>:</strong>
  <%= @task.user_id %>
</p>

<%= link_to "#{t("page.task.link.edit")}".html_safe, edit_task_path(@task) %> |
<%= link_to "#{t("page.task.link.back")}".html_safe, tasks_path %>
