<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">todo</a>
      <%= link_to "Log out", logout_path, method: :delete if logged_in?%>
      <%= link_to "Log in", login_path unless logged_in? %>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
