<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" data-turbolinks="false">Guild</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="padding-top:8px; padding-left:100px;">
      <button type="button" class="btn btn-success" id='create-button' data-toggle="modal" onClick="javascript:openAddingeModalWindow();"><%= t('views.create') %></button>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div id="alert-complete" class="alert alert-success" role="alert" hidden></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col"><%= t('views.username') %></th>
        <th scope="col"><%= t('views.label') %></th>
        <th scope="col"><%= t('views.subject') %></th>
        <th scope="col"><%= t('views.priority') %></th>
        <th scope="col"><%= t('views.state') %></th>
        <th scope="col"><%= t('views.created_at') %></th>
        <th scope="col"><%= t('views.updated_at') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="task-list-doby"></tbody>
  </table>
</div>
<%= render :partial => "common/modal_window" %>
<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
<%= javascript_include_tag 'board' %>
