<body>
<%= stylesheet_link_tag 'board' %>
<!-- Fixed navbar -->
<header>
  <nav class="navbar navbar-default navbar-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" data-turbolinks="false">Guild</a>
      </div>
      <div id="navbar" class="form-inline collapse navbar-collapse" style="padding-top:8px; padding-left:100px;">
        <button type="button" class="btn btn-success" id='create-button' data-toggle="modal" onClick="javascript:openAddingeModalWindow();"><%= t('views.create') %></button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" style="float: right;" id="sign-out" onClick="clickActionSignOut();">Sign out</button>
        <% if @view_params['is_admin'] %>
        <a href="/admin" data-turbolinks="false"><img src="<%= image_path('icon_gear.png') %>" class="card-img-top" alt="..." style="float: right;"></a>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
<div class="container">
  <div id="alert-complete" class="alert alert-success" role="alert" hidden></div>
  <div id="alert-error" class="alert alert-danger" role="alert" hidden></div>
  <form class="form-inline">
    <div class="form-group">
      <div class="form-group" style="padding:10px;">
        <label for="exampleFormControlSelect1">Label: </label>
        <select class="form-control" id="condition-label" required>
          <option></option>
          <% @view_params['label_list'].each do | k, v |%>
          <option value="<%= k %>"><%= v %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group" style="padding:10px;">
        <label for="exampleFormControlSelect1">State: </label>
        <select class="form-control" id="condition-state" required>
          <option></option>
          <% @view_params['state_list'].each do | k, v |%>
          <option value="<%= k %>"><%= v %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group" style="padding:10px;">
        <button type="button" class="btn btn-primary" id="search-task" hidden>Search</button>
      </div>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col"><%= t('views.username') %></th>
        <th scope="col"><%= t('activerecord.attributes.task.label') %></th>
        <th scope="col"><%= t('activerecord.attributes.task.subject') %></th>
        <th scope="col"><%= t('activerecord.attributes.task.priority') %></th>
        <th scope="col"><%= t('activerecord.attributes.task.state') %></th>
        <th scope="col"><%= t('views.created_at') %></th>
        <th scope="col"><%= t('views.updated_at') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="task-list-doby"></tbody>
  </table>
  <ul id="pagination" class="pagination"></ul>
</div>
<%= render :partial => "common/modal_window" %>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</body>
<%= javascript_include_tag 'lib/pagination' %>
<%= javascript_include_tag 'board' %>
