<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= t "errors.template.header", model: Task.model_name.human, count: task.errors.count %></h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.map { |k, v| [t("activerecord.enums.task.status.#{k}"), k] }, {}, class: "custom-select d-block w-100" %>
  </div>

  <hr>
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
