<% if task.errors.present? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: task, local: true do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title, id: 'task_title' %></div>
  <div><%= f.label :description %></div>
  <div><%= f.text_area :description, rows: 5, id: 'task_description' %></div>
  <div><%= f.label :priority %></div>
  <div><%= f.select :priority, Task.enum_options_for_select(:priority) %></div>
  <div><%= f.label :status %></div>
  <div><%= f.select :status, Task.enum_options_for_select(:status) %></div>
  <div><%= f.label :deadline %></div>
  <div><%= f.date_select :deadline %></div>
  <%= f.submit %>
<% end %>
