<h1><%= t('headline.task.index') %></h1>

<hr>
<%= form_with url: tasks_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label Task.human_attribute_name(:priority) + '：' %>
    <%= f.select 'search[priority]', Task.enum_options_for_select(:priority), { include_blank: true, selected: @search_form.priority } %>
  </div>
  <div>
    <%= f.label Task.human_attribute_name(:status) + '：' %>
    <%= f.select 'search[status]', Task.enum_options_for_select(:status), { include_blank: true, selected: @search_form.status } %>
  </div>
  <div>
    <%= f.label Task.human_attribute_name(:title) + '：' %>
    <%= f.text_field 'search[title]', value: @search_form.title %>
  </div>
  <%= f.submit t('button.search') %>
<% end %>
<%= form_with url: tasks_path, method: :get, local: true do |f| %>
  <%= f.submit t('button.reset') %>
<% end %>
<hr>

<%= link_to t('crud.create'), new_task_path %>

<table>
  <tr>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= link_to Task.human_attribute_name(:priority) + sort_icon(:priority, @search_form), tasks_path(search: sort_params(@search_form.attributes, :priority)) %></th>
    <th><%= link_to Task.human_attribute_name(:status) + sort_icon(:status, @search_form), tasks_path(search: sort_params(@search_form.attributes, :status)) %></th>
    <th><%= link_to Task.human_attribute_name(:deadline) + sort_icon(:deadline, @search_form), tasks_path(search: sort_params(@search_form.attributes, :deadline)) %></th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.human_attribute_enum(:priority) %></td>
      <td><%= task.human_attribute_enum(:status) %></td>
      <td><%= task.format_deadline %></td>
      <td>
        <%= link_to t('crud.update'), edit_task_path(task) %>
        <%= link_to t('crud.delete'), task_path(task), method: :delete, data: {confirm: t('alert.confirm', task: task.title)} %>
      </td>
    </tr>
  <% end %>
</table>

