<h1>タスク一覧</h1>

<%= link_to '新規登録', new_task_path %>

<table>
  <tr>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= Task.human_attribute_name(:priority) %></th>
    <th><%= Task.human_attribute_name(:status) %></th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td>
        <%= link_to '編集', edit_task_path(task) %>
        <%= link_to '削除', task_path(task), method: :delete, data: {confirm: "タスク「#{task.title}」を削除します。よろしいですか？"} %>
      </td>
    </tr>
  <% end %>
</table>
