<h1><%= t('headline.task.index') %></h1>

<%= link_to t('crud.create'), new_task_path %>

<table>
  <tr>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= Task.human_attribute_name(:priority) %></th>
    <th><%= Task.human_attribute_name(:status) %></th>
    <th><%= link_to Task.human_attribute_name(:deadline) + sort_icon(:deadline, @sorted_column, @direction), tasks_path(sort_column: :deadline, direction: @direction) %></th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.human_attribute_enum(:priority) %></td>
      <td><%= task.human_attribute_enum(:status) %></td>
      <td><%= task.format_deadline %></td>
      <td>
        <%= link_to t('crud.update'), edit_task_path(task) %>
        <%= link_to t('crud.delete'), task_path(task), method: :delete, data: {confirm: t('alert.confirm', task: task.title)} %>
      </td>
    </tr>
  <% end %>
</table>

