<%= form_with(model: user, url: user.persisted? ? admin_user_path(user) : admin_users_path, local: true, class: "form-horizontal") do |form| %>
  <%= form.fields_for :user_credential do |credential_form| %>

    <% if user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <div class='alert-heading'>
            <a class="close" data-dismiss="alert">×</a>
            <h2><%= t('errors.template.header', model: user.model_name.human, count: user.errors.count) %></h2>
          </div>
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :role %>
      <%= form.select :role, User.roles.map { |k, v| [t(".roles.#{k}"), k] }, {prompt: '選択してください'}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email_confirmation %>
      <%= form.text_field :email_confirmation, class: "form-control" %>
    </div>

    <% unless user.persisted? %>
      <div class="form-group">
        <%= credential_form.label :password %>
        <%= credential_form.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= credential_form.label :password_confirmation %>
        <%= credential_form.password_field :password_confirmation, class: 'form-control' %>
      </div>
    <% end %>

    <div class="btn-group">
      <%= form.submit :class => "btn btn-default btn-primary" %>
    </div>
  <% end %>
<% end %>
