<p id="notice"><%= notice %></p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:created_at) %>:</strong>
  <%= l(@user.created_at, format: :long) %>
</p>

<%= link_to t('buttons.edit'), edit_admin_user_path(@user), class: "btn btn-primary" %>
<%= link_to t('buttons.back'), admin_users_path, class: "btn btn-secondary" %>

<h1>タスク リスト</h1>

<div class='table-responsive'>
  <table class='table table-striped table-bordered table-hover'>
    <thead>
      <tr>
        <th><%= Task.human_attribute_name(:name) %></th>
        <th><%= Task.human_attribute_name(:created_at) %></th>
        <th><%= Task.human_attribute_name(:status) %></th>
        <th><%= Task.human_attribute_name(:description) %></th>
        <th><%= Task.human_attribute_name(:finished_on) %></th>
      </tr>
    </thead>

    <tbody>
      <% @user.tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= l(task.created_at, format: :long) %></td>
          <td><%= t(".status.#{task.status}") %></td>
          <td><%= task.description %></td>
          <td><%= task.finished_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>