<table>
  <thead>
    <tr>
      <th><%= t('tasks.label.status') %></th>
      <th><%= t('tasks.label.title') %></th>
      <th><%= t('tasks.label.priority')%><%= link_sort 'priority' %></th>
      <th><%= t('tasks.label.due_date')%><%= link_sort 'due_date' %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>
