<p id="notice"><%= notice %></p>

<h1><%= t('tasks.page.index') %></h1>
<%= link_to t('tasks.action.new'), new_task_path, id: 'new_task', class: 'btn btn-default' %>
<%= form_tag(tasks_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= select_tag :status, options_for_select(Task.statuses_i18n.invert,{selected: params[:status]}), {include_blank: t('general.word.all')} %>
  <%= submit_tag t('tasks.action.search'), name: nil, class: 'btn btn-default' %>
<% end %>

<%= render 'tasks', tasks: @tasks %>
