<h1><%= t('tasks.page.show') %></h1>
<br/>
<h2><%= @task.title %></h2>
<p>
  <%= @task.description.gsub(/\n/, '<br/>').html_safe %>
</p>

<p>
  <strong><%= t('tasks.label.priority') %>:</strong>
  <%= @task.priority_i18n %>
</p>

<p>
  <strong><%= t('tasks.label.status') %>:</strong>
  <%= @task.status_i18n %>
</p>

<p>
  <strong><%= t('tasks.label.due_date') %>:</strong>
  <%= @task.due_date %>
</p>

<%= link_to t('tasks.action.edit'), edit_task_path(@task) %> |
<%= link_to t('tasks.action.delete'), @task, method: :delete, data: { confirm: t('tasks.message.sure') } %></td> | 
<%= link_to t('tasks.action.back'), tasks_path %>
