<%= render 'shared/flash_messages' %>

<h1><%= t('.title') %></h1>

<p>
  <strong><%= t('activerecord.attributes.user.name') + ':' %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.created_at') + ':' %></strong>
  <%= l(@user.created_at, format: :short) %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-info' %>
</div>
<div class="btn-group">
  <%= link_to 'Back', root_url, class: 'btn btn-outline-secondary' %>
</div>
