<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.user.name') + ':' %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.created_at') + ':' %></strong>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
