<% content_for(:title) { t('.title') } %>

<article class="card mx-auto w-75">
  <h5 class="card-header text-muted"><%= t('.title') %></h5>
  <article class="card-body">
    <% if flash.alert.present? %>
      <div class="text-center pb-3 text-danger-flash"><%= flash.alert %></div>
    <% end %>

    <%= form_with scope: :session, local: true, class: 'form-horizontal' do |f| %>
      <div class="form-group row">
        <%= f.label User.human_attribute_name(:email), class: 'col-form-label col-lg-3 col-sm-3' %>
        <%= f.text_field :email, class: 'form-control col-7' %>
      </div>
      <div class="form-group row">
        <%= f.label t('.password'), class: 'col-form-label col-lg-3 col-sm-3' %>
        <%= f.password_field :password, class: 'form-control col-7' %>
      </div>

      <%= f.submit t('.login_btn'), class: 'btn btn-primary' %>
    <% end %>
  </article>
</article>
