<% task.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>

<%= form_with model: task, url: url, local: true do |form| %>
  <%= form.text_field :task_name %>
  <%= form.text_field :description %>
  <%= form.submit %>
<% end %>