<% task.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>

<%= form_with model: task, url: url, local: true do |form| %>
  <%= form.text_field :task_name %>
  <%= form.text_field :description %>
  <%= form.text_field :due_date, data: { :date_format => 'YYYY-MM-DD' }, class: ' datepicker'	%>
  <%= form.select :status, Task.statuses.keys.map{|k| [I18n.t("status.#{k}"), k]} %>
  <%= form.submit %>
<% end %>
