<h1>タスク修正</h1>


<%= form_for @task do |form| %>
  タスク名<%= form.text_field :task_name %><br>
  内容<%= form.text_field :contents %><br>
  <%= form.submit %>
<% end %>

<%= link_to "削除", task_path(@task[:id]), method: :delete %>
