<h1><%= t('view.edit.title') %></h1>


<%= form_for @task do |form| %>
  <%= t('activerecord.attributes.status.status') %><%= form.collection_select :status_id, Status.all, :id, :status_name %><br>
  <%= t('activerecord.attributes.task.task_name') %><%= form.text_field :task_name %><br>
  <%= t('activerecord.attributes.task.contents') %><%= form.text_field :contents %><br><br>
  <%= form.submit %>
<% end %>

<p>
  <%= link_to t('view.edit.delete'), task_path(@task[:id]), method: :delete %>
<p>
