<h1><%= t('view.index.title') %></h1>

<%= link_to t('view.index.new'), new_task_path %>

<p>
  <% if flash[:notice] %>
    <p>
      <font color="#ff0000"><%= flash[:notice] %></font>
    </p>
  <% end %>
</p>

<p>
  <%= form_tag("/", method: "get") do %>
    <%= label_tag(:q, t('activerecord.attributes.task.task_name')) %>
    <%= text_field_tag('name') %>
    or
    <%= select_tag :status_id, options_from_collection_for_select(Status.all, :id, :status_name), :prompt => t('view.index.no_select') %>
    <%= submit_tag(t('view.index.filter')) %>
    <%= link_to t('view.index.all_items'), root_path %>
  <% end %>
</p>

<table>
  <tr>
    <th><%= t('activerecord.attributes.task.task_name') %></th>
    <th><%= t('activerecord.attributes.task.contents') %></th>
    <th><%= t('activerecord.attributes.task.status_id') %></th>
  </tr>
  
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.task_name, task_path(task) %></td>
      <td><%= task.contents %></td>
      <td align="center"><%= task.status.status_name %></td>
    </tr>
  <% end %>

</table>
