<h1><%= t '.title' %></h1>


<%= form_for @task do |form| %>
  <%= t 'task_name' %><%= form.text_field :task_name %><br>
  <%= t 'contents' %><%= form.text_field :contents %><br>
  <%= form.submit %>
<% end %>
