<div>
  <div>
    <%= link_to(I18n.t('button.home'), root_path) %>
    <%= link_to(I18n.t('button.edit'), edit_task_path) %>
    <%= link_to(I18n.t('button.delete'), delete_task_path) %>
  </div>

  <div>
    <ul>
      <li><%= I18n.t('view.task_name', :task => @task.task_name) %></li>
      <li><%= I18n.t('view.description', :task => @task.description) %></li>
      <li><%= I18n.t('view.due_date', :task => @task.due_date) %></li>
      <li><%= I18n.t('view.status', :task => I18n.t("status.#{@task.status}")) %></li>
    </ul>
  </div>
</div>
