<h1><%= t '.title' %></h1>

<% if flash[:notice] %>
  <p>
    <font color="#ff0000"><%= flash[:notice] %></font>
  </p>
<% end %>

  <h2><%= @task[:task_name] %></h2>
  <p><%= @task[:contents] %></p>

<%= link_to t('.go_list'), root_path %>
<%= link_to t('.go_edit'), edit_task_path %>
