<div class='row col-12'>
  <%= link_to(I18n.t('button.home'), root_path, class: 'btn btn-secondary m-2') %>
  <%= link_to(I18n.t('button.edit'), edit_task_path, class: 'btn btn-secondary m-2') %>
  <%= link_to(I18n.t('button.delete'), delete_task_path, class: 'btn btn-secondary m-2') %>
</div>

<div class='row col-12'>
  <ul>
    <li><%= I18n.t('view.task_name', :task => @task.task_name) %></li>
    <li><%= I18n.t('view.description', :task => @task.description) %></li>
    <li><%= I18n.t('view.due_date', :task => @task.due_date) %></li>
    <li><%= I18n.t('view.status', :task => I18n.t("status.#{@task.status}")) %></li>
    <li><%= I18n.t('view.priority', :task => I18n.t("priority.#{@task.priority}")) %></li>
    <li><%= I18n.t('view.label') %>
    <% @labels.each_with_index do |label, i| %>
      <%= i < @labels.size - 1 ? label + ',' : label%>
    <% end %>
    </li>
  </ul>
</div>
