<div>
  <div>
    <%= link_to('home', root_path) %>
    <%= link_to('edit', edit_task_path) %>
    <%= link_to('delete', delete_task_path) %>
  </div>

  <div>
    <ul>
      <li>タスク：<%= @task.task_name %></li>
      <li>詳細　：<%= @task.description %></li>
    </ul>
  </div>
</div>