<!DOCTYPE html>
<html>
  <head>
    <title>TrainingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= sign_out %>
          <%  if current_user.present? %>
            <%= link_to 'タスク一覧', tasks_path %>
            <%= link_to t('admins'), admin_users_path %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
