<p id="notice"><%= notice %></p>
<h1><%= t('contents.index')%></h1>
<div class="main-search border">
  <%= form_tag(tasks_path,:method => 'get') do %>
  <div class="main-search-group">
    <%= label_tag Task.human_attribute_name(:title) %>
    <%= text_field_tag :title %>
  </div>
  <div class="main-search-group">
    <div class="dropdown">
      <%= label_tag Task.human_attribute_name(:status) %>
      <%= select_tag :status, options_for_select(Task.statuses.to_a.map{|k,v| [Task.human_attribute_name("status.#{k}"),v]}), class: "btn btn-secondary dropdown-toggle", include_blank:true %>
    </div>
  </div>
  <div class="main-search-group">
    <%= label_tag Task.human_attribute_name(:label) %>
    <% @labels.each do |label| %>
      <%= check_box_tag 'label_id[]', label.id, false, id: "label_id_#{label.id}" %>
      <%= label_tag "label_id_#{label.id}", label.name %>
    <% end %>
  </div>
  <div class="main-search-group">
    <%= submit_tag t('contents.search'), :title => nil, class: "btn btn-success" %>
  </div>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= Task.human_attribute_name(:label) %></th>
      <th scope="col"><%= Task.human_attribute_name(:title) %></th>
      <th scope="col"><%= Task.human_attribute_name(:description) %></th>
      <th scope="col"><%= Task.human_attribute_name(:user_id) %></th>
      <th scope="col"><%= Task.human_attribute_name(:limit) %></th>
      <th scope="col"><%= Task.human_attribute_name(:priority) %></th>
      <th scope="col"><%= Task.human_attribute_name(:status) %></th>
      <th scope="col"><%= Task.human_attribute_name(:created_at) %></th>
      <th scope="col"><%= Task.human_attribute_name(:updated_at) %></th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class='label' >
          <% task.labels.each do |label| %>
            <p class="btn btn-primary btn-sm">
              <%= label.name %>
            </p>
          <% end %>
        </td>
        <td class='title' ><%= task.title %></td>
        <td class='description' ><%= task.description %></td>
        <td class='user_id' ><%= task.user_id %></td>
        <td class='limit' ><%= task.limit %></td>
        <td class='priority' ><%= task.priority %></td>
        <td class='status' ><%= task.status_i18n %></td>
        <td class='created_at' ><%= task.created_at %></td>
        <td class='updated_at' ><%= task.updated_at %></td>
        <td colspan="3">
          <%= link_to t('contents.show'), task, class: "btn btn-warning" %>
          <%= link_to t('contents.edit'), edit_task_path(task.id), class: "btn btn-success" %>
          <%= link_to t('contents.destroy'), task, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<br>

<%= link_to t('contents.new'), new_task_path, class: "btn btn-primary btn-lg active", role: "button" %>
