<p id="notice"><%= notice %></p>

<h1><%= t('contents.index')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.task.title') %></th>
      <th><%= t('activerecord.attributes.task.description') %></th>
      <th><%= t('activerecord.attributes.task.user') %></th>
      <th><%= t('activerecord.attributes.task.limit') %></th>
      <th><%= t('activerecord.attributes.task.priority') %></th>
      <th><%= t('activerecord.attributes.task.status') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.user_id %></td>
        <td><%= task.limit %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= link_to t('contents.show') , task %></td>
        <td><%= link_to t('contents.edit') , edit_task_path(task.id) %></td>
        <td><%= link_to t('contents.destroy') , task, method: :delete, data: { confirm: t('messages.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('contents.new'), new_task_path %>
