<%= form_for(@task) do |f| %>

  <% if @task.errors.any?%>
    <div>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br/>

  <% if request.path_info == new_task_path %>
    <%= f.submit '作成', data: { disable_with: '作成中...'} %>
  <% else %>
    <%= f.submit '更新', data: { disable_with: '更新中...'} %>
  <% end %>
<% end %>
