<div>
  <h1><%= I18n.t('tasks.view.index.title') %></h1>
</div>
<div>
  <%= link_to(I18n.t('tasks.view.index.new_task'), new_task_path) %>
  <hr />
</div>
<div>
  <%= form_tag({action: :index}, {method: :get}) do %>
    <h3><%= I18n.t('tasks.view.index.search') %></h3>
    <%= label_tag :status, I18n.t('tasks.view.index.status') %>
    <%= select_tag :status, options_for_select(Task.statuses.map { |k, v| [I18n.t("tasks.model.status.#{k}"), v] }, selected: @status), include_blank: true %>
    <br/>
    <%= label_tag :name, I18n.t('tasks.view.index.name') %>
    <%= text_field_tag :name, @name %>
    
    <h3><%= I18n.t('tasks.view.index.sort') %></h3>
    <%= label_tag :order, I18n.t('tasks.view.index.not_sort') %> : <%= radio_button_tag :order, '', @order.blank? %>
    <br/>
    <%= I18n.t('tasks.view.index.end_date') %> : 
    <%= label_tag :order, '▲' %> <%= radio_button_tag :order, 'end_date_asc', @order == 'end_date_asc' %> / 
    <%= label_tag :order, '▼' %> <%= radio_button_tag :order, 'end_date_desc', @order == 'end_date_desc' %>
    <br/>
    <%= I18n.t('tasks.view.index.priority') %> : 
    <%= label_tag :order, '▲' %> <%= radio_button_tag :order, 'priority_asc', @order == 'priority_asc' %> / 
    <%= label_tag :order, '▼' %> <%= radio_button_tag :order, 'priority_desc', @order == 'priority_desc' %>

    <br/>
    <%= submit_tag I18n.t('tasks.view.index.submit') %>
    <hr/>
  <% end %>
</div>
<div>
  <%= page_entries_info @tasks, entry_name: I18n.t('tasks.view.index.title') %>
  <% @tasks.each do |task| %>
    <h4><%= link_to(task.name, task_path(task)) %></h4>
    <p><%= I18n.t('tasks.view.index.description') %> : <%= task.description %></p>
    <p><%= I18n.t('tasks.view.index.status') %> : <%= I18n.t("tasks.model.status.#{task.status}") %></p>
    <p><%= I18n.t('tasks.view.index.priority') %> : <%= I18n.t("tasks.model.priority.#{task.priority}") %></p>
    <p><%= I18n.t('tasks.view.index.end_date') %> : <%= task.end_date %></p>
    <hr />
  <% end %>
  <%= paginate @tasks %>
</div>

