<div>
  <h1><%= I18n.t('tasks.view.index.title') %></h1>
</div>
<div>
  <%= link_to(I18n.t('tasks.view.index.new_task'), new_task_path) %>
  <hr />
</div>
<div>
  <h3><%= I18n.t('tasks.view.index.sort') %></h3>
  <%= I18n.t('tasks.view.index.end_date') %>　: <%= link_to( '▲', tasks_path(end_date: 'asc')) %>　<%= link_to( '▼', tasks_path(end_date: 'desc')) %>
  <hr />
</div>
<div>
  <% @tasks.each do |task| %>
    <h4><%= link_to(task.name, task_path(task)) %></h4>
    <p><%= I18n.t('tasks.view.index.description') %> : <%= task.description %></p>
    <p><%= I18n.t('tasks.view.index.status') %> : <%= I18n.t("tasks.model.status.#{task.status}") %></p>
    <p><%= I18n.t('tasks.view.index.end_date') %> : <%= task.end_date %></p>
    <hr />
  <% end %>
</div>
