<div>
  <h1><%= I18n.t('tasks.view.index.title') %></h1>
</div>
<div>
  <%= link_to(I18n.t('tasks.view.index.new_task'), new_task_path) %>
  <hr />
</div>
<div>
  <h3><%= I18n.t('tasks.view.index.search') %></h3>
  <%= form_tag({action: :index}, {method: :get}) do %>
    <%= label_tag :status, I18n.t('tasks.view.index.status') %>
    <%= select_tag :status, options_for_select(Task.statuses.map { |k, v| [I18n.t("tasks.model.status.#{k}"), v] }), include_blank: true %>
    <br/>
    <%= label_tag :name, I18n.t('tasks.view.index.name') %>
    <%= text_field_tag :name, @name %>
    <br/>
    <%= submit_tag I18n.t('tasks.view.index.submit') %>
  <% end %>
</div>
<div>
  <h3><%= I18n.t('tasks.view.index.sort') %></h3>
  <%= I18n.t('tasks.view.index.end_date') %>　: <%= link_to( '▲', tasks_path(end_date: 'asc')) %>　<%= link_to( '▼', tasks_path(end_date: 'desc')) %>
  <hr />
</div>
<div>
  <% @tasks.each do |task| %>
    <h4><%= link_to(task.name, task_path(task)) %></h4>
    <p><%= I18n.t('tasks.view.index.description') %> : <%= task.description %></p>
    <p><%= I18n.t('tasks.view.index.status') %> : <%= I18n.t("tasks.model.status.#{task.status}") %></p>
    <p><%= I18n.t('tasks.view.index.end_date') %> : <%= task.end_date %></p>
    <hr />
  <% end %>
</div>
