<div>
  <h1><%= I18n.t('tasks.view.show.title') %></h1>
</div>
<div>
  <h4><%= @task.name %></h4>
  <p><%= I18n.t('tasks.view.show.description') %> : <%= @task.description %></p>
  <p><%= I18n.t('tasks.view.show.status') %> : <%= I18n.t("tasks.model.status.#{@task.status}") %></p>
  <p><%= I18n.t('tasks.view.show.end_date') %> : <%= @task.end_date %></p>
</div>
<div>
  <%= link_to(I18n.t('tasks.view.show.index_page'), tasks_path) %> / <%= link_to(I18n.t('tasks.view.show.edit_page'), edit_task_path(@task)) %> / 
  <%= link_to(I18n.t('tasks.view.show.delete'), task_path(@task), method: :delete, data: { confirm: I18n.t('tasks.view.show.delete_confirm') } ) %>
</div>
