<%= form_for task do |f| %>
  <table class="table table-dark">
    <tbody>
      <tr>
        <th scope="col">
          <%= f.label t('tasks.task_name') %>
        </th>
        <td>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <th scope="col">
          <%= f.label t('tasks.task_detail') %>
        </th>
        <td>
          <%= f.text_area :body %>
        </td>
      </tr>
      <tr>
        <th scope="col">
          <%= f.label t('tasks.task_limit') %>
        </th>
        <td>
          <%= f.datetime_select :task_limit, minute_step: 5, use_two_digit_numbers: true, date_separator: '- ', include_blank: true %>
        </td>
      </tr>
      <tr>
        <th scope="col">
          <%= f.label t('tasks.task_state') %>
        </th>
        <td>
          <%= f.select :aasm_state, Task.aasm.states.map(&:name).collect {|t| [Task.human_attribute_name("aasm_state.#{t.to_s}"), t]} %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="d-flex justify-content-around">
            <%= f.submit button_name, class: 'btn btn-primary' %>
            <%= link_to t('tasks.cancel'), tasks_path, class: 'btn btn-light' %>
          </div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
