<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1><%= t('.task_list') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <% if @tasks.present? %>
        <p><%= t('.task_count') %>: <%= @tasks.count %></p>
      <% else %>
        <p><%= t('.no_task') %></p>
      <% end %>
    </div>
    <div class="col-sm">
      <%= button_to t('.add_task'), new_task_path, method: :get, class: 'btn btn-primary' %>
    </div>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg.join('<br>').html_safe, class: "alert-#{name}" %>
  <% end %>
  <div class="row">
    <% if @tasks.present? %>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th><%= t('tasks.task_name') %></th>
            <th><%= t('tasks.task_detail') %></th>
            <th><%= t('tasks.task_limit') %> <%= sort_asc('task_limit') %><%= sort_desc('task_limit') %></th>
            <th><%= t('.action') %></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |t| %>
            <tr id="task-<%= t.id %>">
              <td><%= t.id %></td>
              <td class="task-name"><%= t.title %></td>
              <td><%= t.body %></td>
              <td class="task-limit"><%= t.task_limit %></td>
              <td>
                <%= button_to t('.detail'), task_path(t), method: :get, class: 'btn btn-info', form: { style: 'display: inline-block;' } %>
                <%= button_to t('tasks.edit_text'), edit_task_path(t), method: :get, class: 'btn btn-warning', form: { style: 'display: inline-block;' } %>
                <%= button_to t('tasks.delete'), task_path(t), method: :delete, class: 'btn btn-danger', form: { style: 'display: inline-block;' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
