<!DOCTYPE html>
<html>
  <head>
    <title>TrainingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <body>
      <% if signed_in? %>
        <%= "#{current_user.name} さんでログイン中" %>
        <p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
      <% end %>
      <%= yield %>
    </body>
  </div>
</html>
